@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
:root {
  --lightGray: rgb(191, 191, 191);
  --midGray: rgb(128, 128, 128);
  --darkGray: rgb(64, 64, 64);
  --black: rgb(26, 26, 26);
  --blackOff: rgb(38, 38, 38);
  --white: rgb(245, 245, 245);
  --whiteT: rgb(245, 245, 245, 0.7);
  --whiteOff: rgb(230, 230, 230);
  --warning: rgb(218, 165, 32);
  --danger: rgb(178, 34, 34);
  --good: rgb(34, 139, 34);
  --lightRed: hsl(0, 100%, 67%);
  --bgLightRed: hsl(0, 100%, 67%, 0.075);
  --greenTeal: hsl(166, 100%, 37%);
  --bgGreenTeal: hsl(166, 100%, 37%, 0.075);
  --danger: var(--lightRed);
  --bgDanger: var(--bgLightRed);
  --good: var(--greenTeal);
  --bgGood: var(--bgGreenTeal);
  --logoGray: rgb(203, 203, 203);
  --logoPurpleL: hsl(260, 84%, 25%);
  --logoPurpleD: hsl(240, 55%, 60%);
  --logoMintL: hsl(170, 81%, 49%);
  --logoMintD: hsl(190, 100%, 40%);
  --purpleDark: hsl(260, 84%, 10%);
  --mintLigth: hsl(190, 100%, 50%);
  /*  */
  --TC: var(--black);
  --TC_C: var(--whiteOff);
  --NVC: var(--white);
  --NVC_T: rgba(242, 242, 242, 0.75);
  --bgC: var(--whiteOff);
  --bgC_T: var(--whiteT);
  --bgC_UT: rgba(242, 242, 242, 0.25);
  --bgC_C: var(--black);
  --bgC_C_T: rgba(26, 26, 26, 0.15);
  --BS_SB: rgba(0, 0, 0, 0.1);
  --bgOff: rgb(204, 204, 204);
  --bgM: rgba(230, 230, 230, 0.75);
  --vueIconText: rgb(51, 51, 51);
  /*  */
  --SM: 0.25rem;
  --MD: 0.5rem;
  --LG: 1rem;
  --XL: 2rem;
  --FS_XS: 0.8rem;
  --FS_S: var(--LG);
  --FS_N: 1.4rem;
  --FS_L: 1.8rem;
  --FS_X: 4rem;
  --FS_XL: 6rem;
  --FW_L: 200;
  --FW_N: 400;
  --FW_B: 600;
  --iconD: 4rem;
  --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
  --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
  --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
  --fontSizeXLClamp: clamp(6rem, calc(1.5rem + 3vw), 8rem);
  --T_UF: all 250ms ease-in-out;
  --T_F: all 350ms ease-in-out;
  --T_M: all 750ms ease-in-out;
  --T_S: all 1000ms ease-in-out;
  --T_SCALE: scale 500ms cubic-bezier(0.51, -0.42, 0.06, 1.45);
  --NVH_F: 6rem;
  --NVH: 8rem;
  --FS_NVH: calc(100svh - var(--NVH));
  --FS-FNVH: calc(100svh - var(--NVH_F));
  --titanimFont: "Titillium Web", sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--titanimFont);
  font-weight: 400;
  font-style: normal;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
}
@keyframes bounceDown {
  50% {
    transform: translateY(var(--LG));
  }
}
@keyframes bounceUp {
  50% {
    transform: translateY(-10rem);
  }
}
@keyframes ballShadowOpacity {
  50% {
    opacity: 0.2;
  }
}
@keyframes beat {
  10% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  35% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.light_theme {
  --FC: var(--logoPurpleL);
  --SC: var(--logoMintL);
  --H: var(--purpleDark);
  --TC: rgb(26, 26, 26);
  --TC_C: rgb(230, 230, 230);
  --NVC: rgb(242, 242, 242);
  --NVC_T: rgba(242, 242, 242, 0.75);
  --bgC: rgb(230, 230, 230);
  --bgC_T: rgba(242, 242, 242, 0.75);
  --bgC_UT: rgba(242, 242, 242, 0.5);
  --bgC_C: rgb(26, 26, 26);
  --bgC_C_T: rgba(26, 26, 26, 0.15);
  --BS_SB: rgba(0, 0, 0, 0.1);
  --bgOff: rgb(204, 204, 204);
  --bgM: rgba(230, 230, 230, 0.75);
  --vueIconText: rgb(51, 51, 51);
  color: var(--TC);
  --backgroundHero: linear-gradient(transparent, var(--NVC)), url("../img/backgrounds/day.webp") center no-repeat fixed;
  --bgHeaderSectionAbout: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/fondoBasketquot") center no-repeat fixed;
  --bgHeaderSectionServices: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/office-932926_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionPortfolio: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/sunglasses-1284392_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionSkills: linear-gradient(var(--bgC), rgba(255, 255, 255, 0.5), var(--bgC)), url("../img/backgrounds/pexels-julia-m-cameron-4144097.jpg") center no-repeat fixed;
  --bgHeaderSectionContact: linear-gradient(var(--bgC), rgba(255, 255, 255, 0.5), var(--bgC)), url("../img/backgrounds/contact_day.webp") center no-repeat fixed;
}
.light_theme .leiru_icon_svg .brand .cls-1,
.light_theme .leiru_icon_svg .brand-append .cls-1 {
  fill: rgb(24, 160, 56);
}
.light_theme .leiru_icon_svg .text {
  fill: var(--TC);
}

.dark_theme {
  --FC: var(--logoMintD);
  --SC: var(--logoPurpleD);
  --H: var(--mintLigth);
  --TC: rgb(230, 230, 230);
  --TC_C: rgb(26, 26, 26);
  --NVC: rgb(13, 13, 13);
  --NVC_T: rgba(13, 13, 13, 0.75);
  --bgC: rgb(26, 26, 26);
  --bgC_T: rgba(13, 13, 13, 0.75);
  --bgC_UT: rgba(13, 13, 13, 0.5);
  --bgC_C: rgb(230, 230, 230);
  --bgC_C_T: rgba(230, 230, 230, 0.15);
  --BS_SB: rgba(255, 255, 255, 0.1);
  --bgOff: rgb(51, 51, 51);
  --bgM: rgba(26, 26, 26, 0.75);
  --vueIconText: rgb(204, 204, 204);
  --backgroundHero: linear-gradient(transparent, var(--NVC)), url("../img/backgrounds/night_EXIF.webp") center no-repeat fixed;
  --bgHeaderSectionAbout: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/graffiti-background-1554703550MY5.jpg") center no-repeat fixed;
  --bgHeaderSectionServices: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/pexels-ovan-57690.jpg") center no-repeat fixed;
  --bgHeaderSectionPortfolio: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/workspace-1280538_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionSkills: linear-gradient(var(--bgC) 10%, rgba(0, 0, 0, 0.5), var(--bgC) 90%), url("../img/backgrounds/tools-1083796_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionContact: linear-gradient(var(--bgC) 10%, rgba(0, 0, 0, 0.5), var(--bgC) 90%), url("../img/backgrounds/contact_night.webp") center no-repeat fixed;
  color: var(--TC);
}
.dark_theme .leiru_icon_svg .brand .cls-1,
.dark_theme .leiru_icon_svg .brand-append .cls-1 {
  fill: var(--TC);
}

BODY {
  --btnGradient: linear-gradient(45deg, var(--FC), var(--SC));
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  color: var(--TC);
  background: var(--bgC);
  text-rendering: optimizeSpeed;
}

:root {
  font-size: 12px;
  line-break: loose;
  line-height: 1.2;
  letter-spacing: 0.15rem;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-color: var(--FC) var(--SC);
  scrollbar-width: thin;
}
:root:focus-within {
  scroll-behavior: smooth;
}

:focus {
  outline: 2px solid var(--FC);
}

IMG {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
}

A {
  background: none;
  text-decoration: none;
}

UL {
  list-style: none;
}

INPUT[type=text],
INPUT[type=email],
TEXTAREA,
LABEL {
  display: block;
  width: 100%;
  height: auto;
}

INPUT[type=text],
INPUT[type=email],
TEXTAREA {
  border: none;
  border-radius: var(--SM);
  background: var(--bgC);
  color: var(--TC);
  font-size: var(--FS_S);
  padding: var(--LG) var(--MD);
}

TEXTAREA {
  resize: none;
}

BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

SVG {
  width: 100%;
  height: auto;
}

H1,
H2,
H3,
H4 {
  padding: 0;
  margin: 0;
}

H1,
H2 {
  text-align: center;
  font-weight: var(--FW_B);
}

H1 {
  color: var(--FC);
  font-weight: var(--FW_B);
  font-size: var(--FS_L);
}

H2 {
  font-size: var(--FS_N);
  font-weight: var(--FW_B);
  color: var(--TC);
}

H3 {
  font-size: var(--FS_N);
  font-weight: var(--FW_B);
}

P {
  font-size: var(--FS_N);
  color: var(--TC);
  text-wrap: pretty;
}

I {
  font-style: italic;
  font-weight: 400;
}

.title_subsection {
  margin-bottom: var(--LG);
}

.accent_text {
  color: var(--FC);
  font-weight: var(--FW_B);
}

.desk_me {
  transition: all 1000ms ease-in-out;
  transform: translateX(100%);
}

.deskwork_icon .cls-1 {
  fill: #7c7c7c;
}
.deskwork_icon .cls-2 {
  fill: #999;
}
.deskwork_icon .cls-3 {
  fill: #280a54;
}
.deskwork_icon .cls-4 {
  fill: #c99;
}
.deskwork_icon .cls-5 {
  fill: #4d4d4d;
}
.deskwork_icon .cls-6 {
  fill: #666;
}
.deskwork_icon .cls-7 {
  fill: #fcc;
}
.deskwork_icon .cls-8 {
  fill: #d4643e;
}
.deskwork_icon .cls-9 {
  fill: #7dd189;
}
.deskwork_icon .cls-10,
.deskwork_icon .cls-23,
.deskwork_icon .cls-59 {
  fill: var(--SC);
}
.deskwork_icon .cls-10,
.deskwork_icon .cls-31,
.deskwork_icon .cls-42,
.deskwork_icon .cls-49,
.deskwork_icon .cls-51,
.deskwork_icon .cls-52,
.deskwork_icon .cls-55,
.deskwork_icon .cls-66,
.deskwork_icon .cls-68 {
  opacity: 0.5;
}
.deskwork_icon .cls-11,
.deskwork_icon .cls-14,
.deskwork_icon .cls-35,
.deskwork_icon .cls-59 {
  opacity: 0.4;
}
.deskwork_icon .cls-11,
.deskwork_icon .cls-42 {
  fill: #ea82f9;
}
.deskwork_icon .cls-12 {
  fill: #6ec6d8;
}
.deskwork_icon .cls-13 {
  fill: #339;
}
.deskwork_icon .cls-15 {
  fill: #633;
}
.deskwork_icon .cls-16,
.deskwork_icon .cls-49 {
  fill: #f79b16;
}
.deskwork_icon .cls-17 {
  fill: #e6e6e6;
}
.deskwork_icon .cls-18 {
  fill: #c60;
}
.deskwork_icon .cls-69 {
  stroke: #e42320;
  stroke-width: 4.28px;
}
.deskwork_icon .cls-69,
.deskwork_icon .cls-70,
.deskwork_icon .cls-71 {
  stroke-miterlimit: 10;
}
.deskwork_icon .cls-69,
.deskwork_icon .cls-71 {
  fill: none;
}
.deskwork_icon .cls-20 {
  fill: #909799;
}
.deskwork_icon .cls-21 {
  fill: #e42320;
}
.deskwork_icon .cls-22 {
  fill: #930;
}
.deskwork_icon .cls-24 {
  fill: #2b2827;
}
.deskwork_icon .cls-25 {
  fill: #600e0e;
}
.deskwork_icon .cls-26 {
  fill: #9b4ee5;
}
.deskwork_icon .cls-27 {
  fill: #1f3c90;
}
.deskwork_icon .cls-28 {
  opacity: 0.2;
}
.deskwork_icon .cls-29,
.deskwork_icon .cls-35,
.deskwork_icon .cls-66 {
  fill: #38166d;
}
.deskwork_icon .cls-30 {
  fill: var(--TC);
}
.deskwork_icon .cls-31,
.deskwork_icon .cls-41 {
  fill: var(--FC);
}
.deskwork_icon .cls-32 {
  fill: #333;
}
.deskwork_icon .cls-33 {
  fill: #732a14;
}
.deskwork_icon .cls-34 {
  fill: #ccc;
}
.deskwork_icon .cls-36,
.deskwork_icon .cls-70 {
  fill: #494949;
}
.deskwork_icon .cls-37 {
  fill: #85edb9;
}
.deskwork_icon .cls-38 {
  fill: #fff;
}
.deskwork_icon .cls-72 {
  opacity: 0.75;
}
.deskwork_icon .cls-39 {
  fill: #963;
}
.deskwork_icon .cls-40 {
  fill: #c49d65;
}
.deskwork_icon .cls-43 {
  fill: #cccbcb;
}
.deskwork_icon .cls-44 {
  fill: #dbb579;
}
.deskwork_icon .cls-45 {
  fill: #0b1138;
  opacity: 0.6;
}
.deskwork_icon .cls-46 {
  fill: #336;
}
.deskwork_icon .cls-47 {
  fill: #5a5b5a;
}
.deskwork_icon .cls-48 {
  fill: #d3cd31;
}
.deskwork_icon .cls-50 {
  fill: var(--logoGray);
}
.deskwork_icon .cls-52 {
  fill: #aae8f9;
}
.deskwork_icon .cls-53 {
  fill: #93d6e5;
}
.deskwork_icon .cls-54 {
  fill: #222223;
}
.deskwork_icon .cls-55 {
  fill: #e5c528;
}
.deskwork_icon .cls-56 {
  fill: #d2dbda;
}
.deskwork_icon .cls-57 {
  fill: #b3d4e5;
}
.deskwork_icon .cls-58 {
  fill: #b74e29;
  opacity: 0.85;
}
.deskwork_icon .cls-70 {
  stroke: #fff;
  stroke-width: 0.25px;
}
.deskwork_icon .cls-71 {
  stroke: #280a54;
  stroke-linecap: round;
}
.deskwork_icon .cls-60 {
  fill: #838483;
}
.deskwork_icon .cls-61 {
  fill: #7c5e48;
}
.deskwork_icon .cls-62 {
  fill: #eaeaea;
}
.deskwork_icon .cls-63 {
  fill: #9cf;
}
.deskwork_icon .cls-64 {
  fill: #cecece;
}
.deskwork_icon .cls-65 {
  fill: #f2f2f2;
}
.deskwork_icon .cls-67 {
  fill: #322a84;
}
.deskwork_icon .cls-68 {
  fill: #94edad;
}
.deskwork_icon .desk_tablet_screen {
  fill: #9cf;
}
.deskwork_icon .watch_time {
  fill: var(--logoPurpleD);
}
.deskwork_icon .cls-txt {
  fill: var(--TC);
}
.deskwork_icon .cls-mid {
  fill: var(--midGray);
}
.deskwork_icon .watch_mer {
  opacity: 0;
  transition: var(--T_M);
}
.deskwork_icon .icon_animation {
  opacity: 0;
  transform: translateY(4rem);
  transition: var(--T_M);
}
.deskwork_icon .screen_animation,
.deskwork_icon .screen_tablet_animation {
  opacity: 0;
  transition: var(--T_M);
}
.deskwork_icon .dev_screen {
  transition-delay: 500ms;
}
.deskwork_icon .icon_show {
  opacity: 0.7;
  transform: translateY(0);
}
.deskwork_icon .screen_show {
  opacity: 1;
}
.deskwork_icon .desk_portfolio,
.deskwork_icon .desk_ball {
  transition: var(--T_M);
}
.deskwork_icon .desk_portfolio:hover {
  transform: translateX(-10rem);
}
.deskwork_icon .desk_ball {
  margin-top: 10rem;
}
.deskwork_icon .desk_ball:hover .ball {
  animation: bounceUp 1000ms 250ms infinite ease-in-out;
}
.deskwork_icon .desk_ball:hover .ball_shadow {
  animation: ballShadowOpacity 1000ms 250ms infinite ease-in-out;
}
.deskwork_icon .svg_btn {
  cursor: crosshair;
}

.dark_theme .watch_pm {
  display: none;
  opacity: 0;
}
.dark_theme .watch_am {
  display: block;
  opacity: 1;
}

.light_theme .watch_am {
  display: none;
  opacity: 0;
}
.light_theme .watch_pm {
  display: block;
  opacity: 1;
}

.desk_icon_container {
  position: relative;
  width: 100%;
  height: auto;
}

.pallet_icon {
  scale: 0.75;
}
.pallet_icon .cls-1 {
  fill: var(--bgC_C);
}
.pallet_icon .cls-2 {
  fill: var(--SC);
}
.pallet_icon .cls-3 {
  fill: #fafafa;
}
.pallet_icon .cls-4 {
  fill: #f74f80;
}
.pallet_icon .cls-5 {
  fill: #74d800;
}
.pallet_icon .cls-6 {
  fill: #00cde2;
}

.illustrator_icon_svg .cls-1 {
  fill: #2c0d0e;
}
.illustrator_icon_svg .cls-2 {
  fill: #f39719;
}

.photoshop_icon_svg .cls-1 {
  fill: #132034;
}
.photoshop_icon_svg .cls-2 {
  fill: #529fd7;
}

.inDesign_icon_svg .cls-2 {
  fill: #441023;
}
.inDesign_icon_svg .cls-1 {
  fill: #e73b69;
}

.after_icon_svg .cls-1 {
  fill: #9193c9;
}
.after_icon_svg .cls-1,
.after_icon_svg .cls-2 {
  stroke-width: 0px;
}
.after_icon_svg .cls-2 {
  fill: #20264d;
}

.premier_icon_svg .cls-1 {
  fill: #21244d;
}
.premier_icon_svg .cls-2 {
  fill: #9193c8;
}

.xd_icon_svg .cls-1 {
  fill: #431238;
}
.xd_icon_svg .cls-2 {
  fill: #be74ad;
}

.figma_icon_svg .cls-1 {
  fill: #2aa3d3;
}
.figma_icon_svg .cls-2 {
  fill: #2fa542;
}
.figma_icon_svg .cls-3 {
  fill: #f66;
}
.figma_icon_svg .cls-4 {
  fill: #dd3636;
}
.figma_icon_svg .cls-5 {
  fill: #9028db;
}

.animate_icon_svg .cls-1 {
  fill: #21244d;
}
.animate_icon_svg .cls-2,
.animate_icon_svg .cls-3 {
  fill: #9193c8;
}
.animate_icon_svg .cls-2 {
  fill-rule: evenodd;
}

.adobe_icon {
  transform: scale(0.8);
}

.html_icon_svg .cls-1 {
  fill: #e34d27;
}
.html_icon_svg .cls-2 {
  fill: #eb652b;
}
.html_icon_svg .cls-3 {
  fill: #fff;
}
.html_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.html_icon_svg .cls-5 {
  fill: var(--TC);
}

.css_icon_svg .cls-1 {
  fill: #2073b5;
}
.css_icon_svg .cls-2 {
  fill: #51a2d9;
}
.css_icon_svg .cls-3 {
  fill: #fff;
}
.css_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.css_icon_svg .cls-5 {
  fill: var(--TC);
}

.js_icon_svg {
  scale: 0.75;
}
.js_icon_svg .cls-1 {
  fill: #f7df1e;
}
.js_icon_svg .cls-2 {
  fill: #000;
}

.gitHub_icon_svg:not(.social_icon_svg) .cls-1 {
  fill: var(--TC);
}
.gitHub_icon_svg:not(.social_icon_svg) .cls-2 {
  fill: var(--TC);
  fill-rule: evenodd;
}

.sass_icon_svg .cls-1 {
  fill: #cf649a;
}

.vue_icon_svg .cls-1 {
  fill: #41b883;
}
.vue_icon_svg .cls-2 {
  fill: #41b883;
}
.vue_icon_svg .cls-3 {
  fill: #35495e;
}

.node_icon_svg .cls-1 {
  fill: #539e43;
}

.react_icon_svg .cls-1 {
  fill: #61dafb;
  stroke-width: 0px;
}

.vue_icon_svg {
  scale: 0.8;
}
.vue_icon_svg .cls-1 {
  fill: #35495e;
}
.vue_icon_svg .cls-2 {
  fill: #41b883;
}

.python_icon_svg {
  scale: 0.8;
}
.python_icon_svg .cls-1 {
  fill: #366a96;
}
.python_icon_svg .cls-2 {
  fill: #ffc836;
}
.python_icon_svg .cls-3 {
  fill: #fff;
}

/* .wa_icon_svg,
.fb_icon_svg,
.behance_icon_svg,
.contact_icon_svg {
    height: auto;
    width: 100%;
} */
.gitHub_icon_svg {
  transform: scale(0.85);
}

.contact_icon_svg {
  transform: scale(0.8);
}

.fb_icon_svg {
  transform: scale(0.75);
}

.label_btn {
  /* font-family: var(--titanimFont); */
  font-size: var(--FS_N);
  font-weight: var(--FW_N);
  display: block;
  line-height: 1;
  font-weight: 600;
}

.separator {
  display: block;
  background: var(--FC);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.accent_color {
  color: var(--SC);
  fill: var(--SC);
}

.accessibility_btn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: var(--FC);
  color: var(--TC_C);
  font-size: var(--FS_L);
  padding: var(--LG);
  transition: var(--T_F);
  translate: 0 -100%;
  z-index: 999;
}

.accessibility_btn:focus {
  translate: 0;
}

.icon_container {
  overflow: hidden;
  width: var(--iconD);
  height: var(--iconD);
  padding: var(--LG);
  border-radius: var(--LG);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  fill: var(--FC);
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: var(--NVC);
  border-radius: var(--MD);
  z-index: 2;
  display: none;
  transition: var(--T_UF);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 250px;
  width: 100%;
}
.bubble .header_bubble {
  height: 6rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bubble .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--SM);
  padding: var(--LG);
}
.bubble .info SPAN {
  display: block;
  text-align: left;
}
.bubble .description {
  font-size: var(--T_M);
  text-wrap: balance;
}
.bubble .title {
  color: var(--TC);
}
.bubble .image {
  height: auto;
}
.bubble .photo {
  position: absolute;
  top: var(--XL);
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.bubble .name {
  color: var(--FC);
  font-size: var(--FS_L);
  text-align: center;
}
.bubble .skill,
.bubble .place {
  font-size: var(--FS_N);
  line-height: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--TC);
  width: 100%;
}

.rex_bubble,
.bio_bubble {
  top: 0;
  left: 0;
  overflow: hidden;
}
.rex_bubble .info,
.bio_bubble .info {
  margin-top: var(--LG);
}

.rex_bubble .header_bubble {
  background: url(../img/backgrounds/parkSmall.webp);
}

.bio_bubble .header_bubble {
  background: url(../img/backgrounds/graffitiSmall.webp);
}

.info_bubble {
  padding: var(--LG);
  gap: var(--MD);
}
.info_bubble .description {
  line-height: 1var --XL;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--iconD);
  width: 100%;
  color: var(--TC_C);
  outline: solid 2px var(--FC);
  border-radius: var(--XL);
  text-align: center;
  padding: var(--LG) var(--MD);
  cursor: pointer;
  transition: var(--T_F);
}
.btn .label_btn {
  transition: var(--T_F);
  color: var(--TC);
  font-weight: var(--FW_B);
}
.btn:hover, .btn:active, .btn:focus {
  background: var(--btnGradient);
  outline-color: transparent;
}
.btn:hover .label_btn, .btn:active .label_btn, .btn:focus .label_btn {
  color: var(--whiteOff);
}

.btn_down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8rem;
  height: 6rem;
  color: var(--TC);
  margin-top: 4rem;
}
.btn_down .arrow_down_svg {
  margin-top: var(--LG);
  width: var(--XL);
  animation: bounceDown 1s ease infinite;
  transition: var(--T_F);
}
.btn_down:hover .arrow_down_svg {
  fill: var(--FC);
}

.close_btn .close_icon_svg {
  transition: rotate 500ms ease-in-out;
}
.close_btn:hover {
  background: var(--FC);
  fill: var(--TC_C);
}
.close_btn:hover .close_icon_svg {
  rotate: 360deg;
}

.phone_social_btn {
  border-radius: var(--MD);
}

.nav_btn:not(.phone_lang_btn) {
  height: 100%;
}

.nav_btn {
  color: var(--TC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_btn .label_btn {
  width: -moz-fit-content;
  width: fit-content;
}
.nav_btn .icon_btn {
  display: none;
}
.nav_btn .icon_container {
  padding: var(--MD);
}
.nav_btn .icon_svg {
  height: 100%;
  width: auto;
}
.nav_btn:hover {
  background: var(--H);
  color: var(--TC_C);
}
.nav_btn:hover .icon_container {
  fill: var(--TC_C) !important;
}

.extra_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--TC);
}
.extra_btn:hover {
  background: var(--FC);
  fill: var(--TC_C);
}
.extra_btn:hover .icon_container {
  fill: var(--TC_C);
}

.more_btn {
  color: var(--TC);
  font-weight: var(--FW_B);
  font-size: var(--FS_N);
}
.more_btn:hover {
  color: var(--whiteOff);
}

.link_btn {
  color: var(--midGray);
}
.link_btn .label_btn {
  font-size: var(--FS_N);
  font-weight: var(--FW_L);
}

.close_control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.phone_menu_btn {
  width: 100%;
  font-size: var(--FS_N);
  color: var(--TC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_menu_btn .icon_container {
  fill: var(--FC);
}
.phone_menu_btn:hover .icon_container {
  fill: var(--TC_C);
}
.phone_menu_btn:hover:not(.extra_btn) {
  background: var(--H);
  color: var(--TC_C);
}

.bar {
  position: absolute;
  height: 2px;
  background: var(--FC);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--T_M);
  border-radius: var(--SM);
}

.top_bar {
  top: var(--MD);
}

.bottom_bar {
  bottom: var(--MD);
}

.center_bar {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom_bar,
.top_bar {
  width: var(--iconD);
}

.center_bar {
  width: 6rem;
}

.btn_construction {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  color: var(--TC);
  margin-right: 3rem;
}
.menu_btn:hover .bottom_bar,
.menu_btn:hover .top_bar,
.menu_btn:hover .center_bar {
  width: 3rem;
}

.logo_btn {
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--MD);
  width: -moz-fit-content;
  width: fit-content;
  scale: 1;
  transition: var(--T_SCALE), height 500ms ease;
}
.logo_btn .johnK_full,
.logo_btn .johnK_icon {
  width: auto;
  height: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 500ms linear;
}
.logo_btn .johnK_full .braket,
.logo_btn .johnK_icon .braket {
  fill: var(--logoGray);
}
.logo_btn .johnK_full .letter,
.logo_btn .johnK_icon .letter {
  fill: var(--FC);
}
.logo_btn .johnK_full .dot,
.logo_btn .johnK_icon .dot {
  fill: var(--SC);
}
.logo_btn .johnK_icon {
  display: none;
}
.logo_btn:hover, .logo_btn:focus, .logo_btn:active {
  scale: 1.2;
}
.logo_btn .remove {
  display: none;
}
.logo_btn .add {
  display: block;
}
.logo_btn .show_logo {
  opacity: 1;
  transform: translateY(0);
}

.bullet {
  background: var(--bgC_T);
  width: calc(100% - var(--iconD));
  padding: var(--XL);
}
.bullet H1 {
  margin-bottom: var(--LG);
}

.flex {
  display: flex;
}

.flex_responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--XL);
}

.subtitle_section {
  margin: var(--XL) 0 var(--LG);
  font-size: var(--FS_L);
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  -webkit-text-stroke: 1px var(--FC);
  color: transparent;
  font-size: var(--FS_X);
}

.animated_social_btn {
  transition: var(--T_SCALE);
}
.animated_social_btn:hover {
  scale: 1.2;
}

.social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
}
.card .bg_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  transform: scale(1);
  transition: var(--T_M);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.card .bg_card IMG {
  -o-object-position: center;
     object-position: center;
}
.card .info_container {
  color: var(--TC);
  padding: var(--LG) 1.5rem var(--XL);
  transition: var(--T_S);
}
.card .info_container P,
.card .info_container H3,
.card .info_container H4 {
  margin: var(--MD) 0;
}

.service_card .info_card {
  transition: all 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bgC_UT);
  width: 100%;
  height: 100%;
}
.service_card .info_card H2 {
  width: 100%;
  text-align: center;
  color: var(--TC);
  font-size: var(--fontSizeMClamp);
  transition: var(--T_M);
  opacity: 0.9;
  padding: var(--XL) 0;
}
.service_card .info_card P {
  padding: var(--LG) 1.5rem;
  transition: var(--T_M);
  opacity: 0;
  transform: translateY(100%);
}
.service_card:hover .bg_card {
  transform: scale(1.2);
}
.service_card:hover .info_card {
  background: var(--bgC_T);
}
.service_card:hover .info_card P,
.service_card:hover .info_card H2 {
  opacity: 1;
  transform: translateY(0);
}
.service_card:hover .info_card H2 {
  padding: 0;
  background: transparent;
  color: var(--TC);
}

.project_card {
  position: relative;
  transition: var(--T_F);
  z-index: var(--zIndexStart);
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: var(--SM);
}
.project_card .img_card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project_card .info_project_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--XL);
  transition: var(--T_F);
  background: var(--bgM);
  transform: translateY(100%);
  opacity: 0;
}
.project_card .info_project_container .title {
  width: 100%;
  text-align: center;
  font-size: var(--FS_L);
  color: var(--FC);
  margin-bottom: var(--MD);
  line-height: 1;
}
.project_card .info_project_container .subtitle {
  width: 100%;
  text-align: center;
  font-size: var(--FS_N);
}
.project_card .info_project_container .icons_project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--SM);
  width: 100%;
  text-align: center;
}
.project_card .info_project_container .icons_project_container .tech_icon_card {
  width: auto;
  height: 100%;
}
.project_card .info_project_container .icons_project_container .tech_icon_card .cls-5 {
  fill: var(--TC);
}
.project_card .info_project_container .margin_bottom {
  margin-bottom: var(--LG);
}
.project_card:hover .info_project_container, .project_card:active .info_project_container, .project_card:focus .info_project_container {
  transform: translateY(0);
  opacity: 1;
}

.content {
  min-width: 250px;
  width: 1400px;
  max-width: 90%;
  padding: 4rem 0;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--LG);
}

.input_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: var(--LG);
}

.cards_container {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
}

.cards_service_container {
  display: grid;
  grid-column: subgrid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
  gap: 0;
  min-height: auto;
  padding: var(--XL) 0;
}
.cards_service_container .service_card {
  grid-column: span 2;
}

.cards_presentation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--FC);
  padding: var(--XL) 0 var(--LG);
  margin-bottom: var(--LG);
}
.cards_presentation .subtitle_section {
  margin: 0;
}
.cards_presentation .portfolio_btn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--FS_L);
  color: var(--midGray);
}

.cards_portfolio_container {
  overflow-y: auto;
  padding-top: var(--MD);
}

.lists_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  width: 100%;
}
.lists_container .btn {
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.description_portfolio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--LG);
  height: 5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--LG);
}
.description_portfolio SPAN {
  display: block;
  font-size: var(--fontSizeMClamp);
}

.list_btns_container {
  position: relative;
  min-width: auto;
  max-width: 100%;
}
.list_btns_container .list_btn {
  display: block;
  min-width: auto;
  width: 100%;
  background: var(--bgM);
  border: none;
  border-radius: var(--SM);
  text-transform: uppercase;
  padding: var(--MD) 3rem;
}
.list_btns_container .list_btn .label_btn {
  color: var(--TC);
  pointer-events: none;
  line-height: 1;
}
.list_btns_container .list_btn:hover, .list_btns_container .list_btn:active, .list_btns_container .list_btn:focus {
  filter: hue-rotate(45deg);
}
.list_btns_container .list_btn:hover .label_btn, .list_btns_container .list_btn:active .label_btn, .list_btns_container .list_btn:focus .label_btn {
  color: var(--whiteOff);
}
.list_btns_container .list_btn:hover,
.list_btns_container .list_btn:active,
.list_btns_container .list_btn:focus {
  color: var(--TC_C);
  background: var(--btnGradient);
  fill: var(--TC_C);
}
.list_btns_container .search_list_btn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--MD);
  background: var(--bgM);
  border-radius: 0;
  border-bottom: solid 2px var(--FC);
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: var(--MD) var(--LG);
}
.list_btns_container .search_list_btn .label_btn {
  color: var(--TC);
  pointer-events: none;
  line-height: 1;
}
.list_btns_container .search_list_btn .icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--XL);
  width: var(--XL);
  padding: 0;
}
.list_btns_container .list_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: var(--T_UF);
  display: none;
  bottom: 0;
  left: 0;
  width: auto;
  background: var(--NVC_T);
  transform: translateY(100%);
  z-index: 2;
}
.list_btns_container .list_down {
  display: flex;
}
.list_btns_container .arrow_list_icon {
  transition: rotate 500ms ease;
  rotate: -180deg;
}
.list_btns_container .arrow_list_icon_active {
  fill: var(--TC);
  rotate: 0deg;
}
.list_btns_container .list_btn_active {
  background: var(--btnGradient) !important;
}
.list_btns_container .list_btn_active .label_btn {
  color: var(--whiteOff) !important;
}
.list_btns_container .list_extra_btns_container {
  width: 100%;
}

.form {
  position: relative;
}

.form_response_container {
  position: absolute;
  top: calc(50% - 4rem);
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  transition: var(--T_F);
  padding: var(--LG);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: var(--MD);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.form_response_container .form_response {
  text-align: center;
  font-size: var(--FS_L);
}

.contact_form {
  background: var(--NVC);
  padding: var(--XL);
  border-radius: var(--LG);
}
.contact_form .form_response_container {
  width: calc(100% - 6rem);
}

.modal_window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: var(--XL);
  left: 50%;
  width: 90%;
  max-width: 720px;
  height: -moz-fit-content;
  height: fit-content;
  transition: var(--T_M);
  transform: translate(-50%, -50%);
  border-radius: var(--LG);
  padding: var(--XL) 0 0;
  max-height: calc(100svh - 4rem);
  overflow: hidden;
  display: none;
  opacity: 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--NVC);
  z-index: 9;
  transition: var(--T_F);
  display: none;
  opacity: 0;
}
.modal .modal_info {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: var(--LG);
}
.modal .modal_header {
  padding: var(--LG) 0;
  width: 100%;
}
.modal .portfolio_modal {
  max-width: 1800px;
  min-height: 20rem;
  overflow: visible;
}
.modal .alert_modal .btn,
.modal .legal_modal .btn {
  width: calc(100% - var(--LG));
  margin: var(--LG) VAR(--MD);
}
.modal .alert_modal .modal_info {
  text-align: center;
}
.modal .legal_modal .modal_info {
  overflow: auto;
  scroll-behavior: smooth;
  padding-right: var(--LG);
  border-top: solid var(--FC) 4px;
  padding: var(--LG) var(--LG) 0 0;
}
.modal .legal_modal .modal_info .inner_link_btn {
  width: 100%;
}
.modal .contact_modal {
  position: relative;
}
.modal .contact_modal .modal_form {
  width: 100%;
}
.modal .contact_modal .modal_form .form_response_container {
  width: calc(100% - 4rem);
}
.modal .submit_container {
  padding: var(--MD);
}

.inner_link_btn {
  text-decoration: underline;
  color: var(--FC);
}
.inner_link_btn:visited {
  color: inherit;
}

.icons_container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--LG);
}

.section_divider {
  width: 100%;
  background: var(--bgC_T);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section_divider .quote_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section_divider .quote_container .quote {
  font-size: var(--fontSizeXClamp);
  color: var(--TC);
  text-align: center;
}
.section_divider .quote_container .quote:after,
.section_divider .quote_container .quote:before {
  content: "";
}
.section_divider .quote_container .quote_icon {
  height: 100%;
  width: var(--iconD);
}
.section_divider .quote_container .quote_start {
  align-self: flex-start;
  transform: translateY(-var(--XL));
}
.section_divider .quote_container .quote_end {
  transform: translateY(var(--XL));
  align-self: flex-end;
}
.section_divider .quote_container .icon_container {
  fill: var(--FC);
}
.section_divider .author_container {
  margin-top: var(--XL);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.section_divider .author_container SPAN {
  display: block;
  text-align: right;
}
.section_divider .author_container .author {
  margin-bottom: var(--MD);
}
.section_divider .author_container .author i {
  font-size: var(--fontSizeMClamp);
  color: var(--SC);
  font-weight: var(--FW_B);
}
.section_divider .author_container .author_info {
  color: var(--TC);
  font-size: var(--fontSizeSClamp);
  text-transform: capitalize;
}
.section_divider .author_container .author,
.section_divider .author_container .author_info {
  line-height: 1;
}
.section_divider .divider_content {
  padding: 20rem 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: var(--T_S);
}
.section_divider .show_quote {
  opacity: 1;
  transform: translateX(0);
}

.section_divider:nth-of-type(2n) .divider_content {
  transform: translateX(100%);
}
.section_divider:nth-of-type(2n) .show_quote {
  opacity: 1;
  transform: translateX(0);
}

.section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - var(--NVH));
  min-height: var(--FS_NVH);
}

.with_bg {
  position: relative;
  justify-content: center;
  margin-bottom: 0;
}

.bg_section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-size: cover !important;
  background-position: center !important;
  z-index: -1;
}

.hero_section {
  view-timeline: --scroll;
}
.hero_section .bg_section {
  background: var(--backgroundHero);
}
.hero_section .title_container H2 {
  color: var(--TC);
  font-size: var(--fontSizeMClamp);
  text-align: right;
  margin-top: var(--LG);
}
.hero_section .title_container H1 {
  color: var(--TC);
  font-size: var(--fontSizeXLClamp);
  line-height: 6rem;
  text-align: right;
}
.hero_section .btns_container {
  justify-content: space-between;
  width: 100%;
  max-width: 35rem;
  gap: var(--XL);
}
.hero_section .btns_container .btn {
  max-width: 15rem;
  min-width: 10rem;
  padding: var(--LG) var(--XL);
}
.hero_section .content {
  padding: 0;
}

.about_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.about_section .section_content {
  position: relative;
}
.about_section .about_salute {
  width: 100%;
  height: 100%;
}
.about_section .about_salute .title_salute,
.about_section .about_salute .title_name {
  text-align: inherit;
  padding: 0;
  margin: 0;
}
.about_section .about_salute .title_salute {
  font-size: var(--FS_XL);
  color: var(--FC);
}
.about_section .about_salute .title_name {
  font-size: var(--FS_XL);
  color: var(--SC);
}
.about_section .about_salute .title_effect {
  animation: blink 500ms 0s infinite alternate;
  color: var(--FC);
}
.about_section .about_salute .swipe_animation_container_half {
  padding: 0 var(--XL);
}
.about_section .about_salute .about_text {
  font-size: var(--fontSizeMClamp);
  margin-top: var(--XL);
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--MD);
  color: var(--TC_C);
  padding: var(--LG);
}
.badge .badge_name {
  color: var(--TC);
  font-size: var(--FS_N);
  line-height: 1;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_badge {
  max-width: 200px;
}

.certification_badge {
  max-width: 350px;
  height: 350px;
  justify-content: space-between;
  background: var(--bgC_T);
  border-radius: var(--MD);
}
.certification_badge .badge_name {
  margin-top: var(--MD);
}

.skills_section {
  --skillIconD: 6rem;
}
.skills_section .icon_container {
  height: var(--skillIconD);
  width: var(--skillIconD);
}

.services_container {
  position: relative;
}

.contact_section .bg_section {
  background: var(--bgHeaderSectionContact);
}
.contact_section .form {
  max-width: 800px;
  width: 100%;
}
.contact_section .form H3 {
  font-size: var(--FS_L);
  text-align: center;
}
.contact_section .whatsapp_btn {
  padding: 0 var(--XL);
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--SM);
  background: var(--NVC);
  border-radius: 3rem;
  margin-top: var(--XL);
  color: var(--TC);
}
.contact_section .whatsapp_btn:hover {
  color: var(--whiteOff);
  background: var(--btnGradient);
}
.contact_section .whatsapp_btn:hover .wa_icon_svg .cls-1 {
  fill: var(--whiteOff);
}

.legals_section {
  background: var(--NVC);
}
.legals_section .footer_content,
.legals_section .lebels_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.legals_section .social_btns_container {
  width: -moz-fit-content;
  width: fit-content;
  justify-content: flex-end;
}
.legals_section .icon_container {
  width: 3rem;
  height: 3rem;
  padding: var(--SM);
}
.legals_section .link_text {
  font-size: var(--FS_XS);
  color: var(--TC);
}
.legals_section .link_text {
  line-height: 1.5;
}
.legals_section .copy_rights {
  font-weight: 400;
  color: var(--FC);
}
.legals_section .made_content {
  margin-left: 3rem;
}
.legals_section .made_content .btns_container :not(:first-child) {
  margin-left: var(--XL);
}
.legals_section .made_content .label_btn {
  font-size: var(--FS_S);
}
.legals_section .btns_container {
  justify-content: flex-start;
}

.clients_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--XL);
}
.clients_list .icon_container {
  --logoSize: 10rem;
  height: var(--logoSize);
  width: auto;
  max-width: calc(var(--logoSize) * 2);
}
.clients_list .icon_container SVG {
  height: 100%;
  width: auto;
}
.clients_list .icon_container IMG {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav_menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--NVH);
  background: var(--NVC_T);
  z-index: 5;
  transition: height 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu .content {
  padding: 0;
}
.nav_menu .menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_menu .icon_container:not(.logo_btn) {
  width: 3.5rem;
  fill: var(--TC);
}
.nav_menu .btn_active .icon_btn {
  fill: var(--TC_C);
}

.nav_menu_controler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
}
.nav_menu_controler .btn_container,
.nav_menu_controler .nav_menu_link_btns,
.nav_menu_controler .nav_menu_icon_svg {
  width: auto;
  height: 100%;
}
.nav_menu_controler .nav_menu_link_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu_controler .nav_btn {
  padding: 0 var(--LG);
}
.nav_menu_controler .theme_btn {
  fill: var(--FC);
}
.nav_menu_controler .theme_btn:hover {
  fill: var(--TC_C);
}
.nav_menu_controler .label_btn:not(.label_lang) {
  display: none;
}

.phone_menu_controler {
  --menuPosition: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-radius: var(--MD) var(--MD) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background: var(--NVC);
  transition: var(--T_F);
  transform: var(--menuPosition);
  z-index: 6;
  overflow: hidden;
  opacity: 0;
  display: none;
}
.phone_menu_controler .extra_btns_container,
.phone_menu_controler .social_btns_container {
  width: 100%;
}
.phone_menu_controler .nav_menu_link_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.phone_menu_controler .nav_menu_link_btns .phone_menu_btn {
  height: var(--iconD);
}
.phone_menu_controler .extra_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phone_menu_controler .extra_btns_container .btns_container {
  padding-top: 0;
}
.phone_menu_controler .extra_btns_container .label_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--iconD);
  min-width: var(--iconD);
}
.phone_menu_controler .social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}
.phone_menu_controler .social_btns_container .phone_menu_btn {
  height: 100%;
  padding: 0.75rem;
}

.menu_social_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 4rem;
  left: var(--XL);
  min-height: var(--iconD);
  z-index: 4;
  fill: var(--FC);
}
.menu_social_container .menu_social_btns_container {
  height: auto;
  transition: var(--T_F);
  margin: var(--LG) 0;
  background: var(--NVC_T);
  border-radius: var(--LG);
}
.menu_social_container .menu_btn_social_menu {
  background: var(--NVC_T);
}
.menu_social_container .social_menu_btn {
  border-radius: var(--LG);
}
.menu_social_container .social_menu_btn:hover .icon_container {
  background: var(--FC);
}
.menu_social_container .social_menu_btn:hover .icon_container .cls-2,
.menu_social_container .social_menu_btn:hover .icon_container .cls-1 {
  fill: var(--TC_C);
}

.menu_social_btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  opacity: 0;
}

.animation_up {
  position: relative;
}

.animation_up:nth-of-type(2),
.card_up:nth-of-type(2):not(.project_card) {
  transition-delay: 100ms;
}

.animation_up:nth-of-type(3),
.card_up:nth-of-type(3):not(.project_card) {
  transition-delay: 200ms;
}

.animation_up:nth-of-type(4),
.card_up:nth-of-type(4):not(.project_card) {
  transition-delay: 300ms;
}

.animation_up:nth-of-type(5),
.card_up:nth-of-type(5):not(.project_card) {
  transition-delay: 400ms;
}

.animation_up:nth-of-type(6),
.card_up:nth-of-type(6):not(.project_card) {
  transition-delay: 500ms;
}

.animation_up:nth-of-type(7),
.card_up:nth-of-type(7):not(.project_card) {
  transition-delay: 600ms;
}

.animation_up:nth-of-type(8),
.card_up:nth-of-type(8):not(.project_card) {
  transition-delay: 700ms;
}

.animation_up:nth-of-type(9),
.card_up:nth-of-type(9):not(.project_card) {
  transition-delay: 800ms;
}

.animation_up,
.card_up {
  opacity: 0;
  transform: translateY(4rem);
  transition: var(--T_F);
}

.show_flex {
  display: flex;
}

.show_opacity {
  opacity: 1;
}

.show_krazy {
  transform: translateX(0);
}

.show_card {
  transform: translateY(0);
  opacity: 1;
}

.show_menu {
  transform: translateY(0);
}

.modal_open {
  transform: translate(-50%, 0);
  opacity: 1;
}

.open_modal {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.btn_active {
  background: var(--FC);
  color: var(--TC_C);
}
.btn_active .label_btn {
  color: var(--TC_C);
}
.btn_active .label_btn,
.btn_active .icon_btn {
  animation: bounce 2s ease-in-out infinite;
}
.btn_active .cls-1 {
  fill: var(--TC_C);
}

.logo_big {
  height: 4rem;
}

.logo_small {
  height: 3rem;
}

.nav_big {
  height: var(--NVH);
}

.nav_small {
  height: var(--NVH_F);
}

.good {
  background: var(--bgGood);
  color: var(--whiteOff);
  border-color: var(--good);
}

.danger {
  background: var(--bgDanger);
  color: var(--blackOff);
  border-color: var(--danger);
}

@media screen and (min-width: 767px) {
  .flex_responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex_img {
    flex-basis: 30%;
  }
  .flex_info {
    flex-basis: 70%;
  }
  .cards_service_container .service_card {
    grid-column: span 4;
  }
  .cards_service_container .service_card:nth-child(2),
  .cards_service_container .service_card:nth-child(3),
  .cards_service_container .service_card:nth-child(6) {
    grid-column: span 2;
  }
}
@media screen and (min-width: 917px) {
  .flex_responsive {
    flex-direction: row;
  }
  .menu_btn {
    display: none;
  }
  .phone_menu_controler {
    display: none;
  }
  .nav_menu_controler {
    display: flex;
  }
  .nav_btn .icon_btn {
    display: flex;
  }
}
/* @media screen and (min-width: 1185px) {

} */
@media screen and (min-width: 1342px) {
  .nav_btn .label_btn:not(.label_lang) {
    display: flex;
  }
  .nav_btn .icon_btn {
    display: none;
  }
  .cards_service_container .service_card:nth-child(2),
  .cards_service_container .service_card:nth-child(3),
  .cards_service_container .service_card:nth-child(6) {
    grid-column: span 3;
  }
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}