@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../font/TitilliumWeb-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
}
@keyframes bounceDown {
  50% {
    transform: translateY(var(--lg));
  }
}
@keyframes bounceUp {
  50% {
    transform: translateY(-10rem);
  }
}
@keyframes ballShadowOpacity {
  50% {
    opacity: 0.2;
  }
}
@keyframes beat {
  10% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  35% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
:root {
  --lightGray: rgb(191, 191, 191);
  --midGray: rgb(128, 128, 128);
  --darkGray: rgb(64, 64, 64);
  --black: rgb(26, 26, 26);
  --blackT: rgb(5, 5, 5, 0.75);
  --blackST: rgb(5, 5, 5, 0.5);
  --blackOff: rgb(5, 5, 5);
  --white: rgb(245, 245, 245);
  --whiteT: rgb(250, 250, 250, 0.75);
  --whiteST: rgb(250, 250, 250, 0.5);
  --whiteOff: rgb(250, 250, 250);
  --lightRed: hsl(0, 100%, 67%);
  --bgLightRed: hsl(0, 100%, 67%, 0.075);
  --greenTeal: hsl(166, 100%, 37%);
  --bgGreenTeal: hsl(166, 100%, 37%, 0.075);
  --logoGray: rgb(203, 203, 203);
  --logoPurpleL: hsl(260, 84%, 25%);
  --logoPurpleD: hsl(240, 55%, 60%);
  --logoMintL: hsl(170, 81%, 49%);
  --logoMintD: hsl(190, 100%, 40%);
  --purpleDark: hsl(260, 84%, 10%);
  --mintLigth: hsl(190, 100%, 50%);
  --sm: 0.25rem;
  --md: 0.5rem;
  --lg: 1rem;
  --xl: 2rem;
  --fs_xs: 0.8rem;
  --fs_s: 1rem;
  --fs_n: 1.4rem;
  --fs_l: 1.8rem;
  --fs_x: 4rem;
  --fs_xl: 6rem;
  --fw_l: 200;
  --fw_n: 400;
  --fw_b: 600;
  --nvh_f: 6rem;
  --nvh: 8rem;
  --iconD: 4rem;
  --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
  --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
  --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 3rem);
  --fontSizeXLClamp: clamp(6rem, calc(1.5rem + 3vw), 8rem);
  --t_uf: all 250ms ease-in-out;
  --t_f: all 350ms ease-in-out;
  --t_M: all 750ms ease-in-out;
  --t_s: all 1000ms ease-in-out;
  --titilliumFont: "Titillium Web", sans-serif;
}

.light {
  --fc: var(--logoPurpleL);
  --sc: var(--logoMintL);
  --h: var(--purpleDark);
  --tc: var(--black);
  --bgC: var(--white);
  --bgC_off: var(--whiteOff);
  --bgC_t: var(--whiteT);
  --bgC_st: var(--whiteST);
  --vueIconText: rgb(51, 51, 51);
}

.dark {
  --fc: var(--logoMintD);
  --sc: var(--logoPurpleD);
  --h: var(--mintLigth);
  --tc: var(--white);
  --bgC: var(--black);
  --bgC_off: var(--blackOff);
  --bgC_t: var(--blackT);
  --bgC_st: var(--blackST);
  --vueIconText: rgb(204, 204, 204);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--titilliumFont);
  font-weight: 400;
  font-style: normal;
}

BODY {
  --backgroundHero: linear-gradient(transparent, var(--bgC_off));
  --t_scale: scale 500ms cubic-bezier(0.51, -0.42, 0.06, 1.45);
  --fs_nvh: calc(100svh - var(--nvh));
  --backgroundHero: linear-gradient(transparent, var(--bgC_off));
  --bgHeaderSectionContact: linear-gradient(var(--bgC_off) 10%, var(--bgC_st), var(--bgC_off) 90%);
  --danger: var(--lightRed);
  --bgDanger: var(--bgLightRed);
  --good: var(--greenTeal);
  --bgGood: var(--bgGreenTeal);
  --btnGradient: linear-gradient(45deg, var(--fc), var(--sc));
  --shadow: var(--blackST);
  color: var(--tc);
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  background: var(--bgC);
  text-rendering: optimizeSpeed;
}

:root {
  font-size: 12px;
  line-break: loose;
  line-height: 1.2;
  letter-spacing: 0.15rem;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-color: var(--fc) var(--sc);
  scrollbar-width: thin;
}
:root:focus-within {
  scroll-behavior: smooth;
}

:focus {
  outline: 2px solid var(--fc);
}

IMG {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
}

A {
  background: none;
  text-decoration: none;
}

UL {
  list-style: none;
}

PICTURE,
INPUT[type=text],
INPUT[type=email],
TEXTAREA,
LABEL {
  display: block;
  width: 100%;
  height: auto;
}

INPUT[type=text],
INPUT[type=email],
TEXTAREA {
  border: none;
  border-radius: var(--sm);
  background: var(--bgC);
  color: var(--tc);
  font-size: var(--fs_s);
  padding: var(--lg) var(--md);
}

TEXTAREA {
  resize: none;
}

BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

SVG {
  width: 100%;
  height: auto;
}

H1,
H2,
H3,
H4 {
  padding: 0;
  margin: 0;
}

H1,
H2 {
  text-align: center;
  font-weight: var(--fw_b);
}

H1 {
  color: var(--fc);
  font-weight: var(--fw_b);
  font-size: var(--fontSizeXClamp);
}

H2 {
  font-size: var(--fontSizeMClamp);
  font-weight: var(--fw_b);
  color: var(--tc);
}

H3 {
  font-size: var(--fs_n);
  font-weight: var(--fw_b);
}

P {
  font-size: var(--fs_n);
  color: var(--tc);
  text-wrap: pretty;
}

I {
  font-style: italic;
  font-weight: 400;
}

.title_subsection {
  margin-bottom: var(--lg);
}

.accent_text {
  color: var(--fc);
  font-weight: var(--fw_b);
}

.desk_me {
  transition: all 1000ms ease-in-out;
  transform: translateX(100%);
}

.deskwork_icon .cls-1 {
  fill: #7c7c7c;
}
.deskwork_icon .cls-2 {
  fill: #999;
}
.deskwork_icon .cls-3 {
  fill: #280a54;
}
.deskwork_icon .cls-4 {
  fill: #c99;
}
.deskwork_icon .cls-5 {
  fill: #4d4d4d;
}
.deskwork_icon .cls-6 {
  fill: #666;
}
.deskwork_icon .cls-7 {
  fill: #fcc;
}
.deskwork_icon .cls-8 {
  fill: #d4643e;
}
.deskwork_icon .cls-9 {
  fill: #7dd189;
}
.deskwork_icon .cls-10,
.deskwork_icon .cls-23,
.deskwork_icon .cls-59 {
  fill: var(--sc);
}
.deskwork_icon .cls-10,
.deskwork_icon .cls-31,
.deskwork_icon .cls-42,
.deskwork_icon .cls-49,
.deskwork_icon .cls-51,
.deskwork_icon .cls-52,
.deskwork_icon .cls-55,
.deskwork_icon .cls-66,
.deskwork_icon .cls-68 {
  opacity: 0.5;
}
.deskwork_icon .cls-11,
.deskwork_icon .cls-14,
.deskwork_icon .cls-35,
.deskwork_icon .cls-59 {
  opacity: 0.4;
}
.deskwork_icon .cls-11,
.deskwork_icon .cls-42 {
  fill: #ea82f9;
}
.deskwork_icon .cls-12 {
  fill: #6ec6d8;
}
.deskwork_icon .cls-13 {
  fill: #339;
}
.deskwork_icon .cls-15 {
  fill: #633;
}
.deskwork_icon .cls-16,
.deskwork_icon .cls-49 {
  fill: #f79b16;
}
.deskwork_icon .cls-17 {
  fill: #e6e6e6;
}
.deskwork_icon .cls-18 {
  fill: #c60;
}
.deskwork_icon .cls-69 {
  stroke: #e42320;
  stroke-width: 4.28px;
}
.deskwork_icon .cls-69,
.deskwork_icon .cls-70,
.deskwork_icon .cls-71 {
  stroke-miterlimit: 10;
}
.deskwork_icon .cls-69,
.deskwork_icon .cls-71 {
  fill: none;
}
.deskwork_icon .cls-20 {
  fill: #909799;
}
.deskwork_icon .cls-21 {
  fill: #e42320;
}
.deskwork_icon .cls-22 {
  fill: #930;
}
.deskwork_icon .cls-24 {
  fill: #2b2827;
}
.deskwork_icon .cls-25 {
  fill: #600e0e;
}
.deskwork_icon .cls-26 {
  fill: #9b4ee5;
}
.deskwork_icon .cls-27 {
  fill: #1f3c90;
}
.deskwork_icon .cls-28 {
  opacity: 0.2;
}
.deskwork_icon .cls-29,
.deskwork_icon .cls-35,
.deskwork_icon .cls-66 {
  fill: #38166d;
}
.deskwork_icon .cls-30 {
  fill: var(--tc);
}
.deskwork_icon .cls-31,
.deskwork_icon .cls-41 {
  fill: var(--fc);
}
.deskwork_icon .cls-32 {
  fill: #333;
}
.deskwork_icon .cls-33 {
  fill: #732a14;
}
.deskwork_icon .cls-34 {
  fill: #ccc;
}
.deskwork_icon .cls-36,
.deskwork_icon .cls-70 {
  fill: #494949;
}
.deskwork_icon .cls-37 {
  fill: #85edb9;
}
.deskwork_icon .cls-38 {
  fill: #fff;
}
.deskwork_icon .cls-72 {
  opacity: 0.75;
}
.deskwork_icon .cls-39 {
  fill: #963;
}
.deskwork_icon .cls-40 {
  fill: #c49d65;
}
.deskwork_icon .cls-43 {
  fill: #cccbcb;
}
.deskwork_icon .cls-44 {
  fill: #dbb579;
}
.deskwork_icon .cls-45 {
  fill: #0b1138;
  opacity: 0.6;
}
.deskwork_icon .cls-46 {
  fill: #336;
}
.deskwork_icon .cls-47 {
  fill: #5a5b5a;
}
.deskwork_icon .cls-48 {
  fill: #d3cd31;
}
.deskwork_icon .cls-50 {
  fill: var(--logoGray);
}
.deskwork_icon .cls-52 {
  fill: #aae8f9;
}
.deskwork_icon .cls-53 {
  fill: #93d6e5;
}
.deskwork_icon .cls-54 {
  fill: #222223;
}
.deskwork_icon .cls-55 {
  fill: #e5c528;
}
.deskwork_icon .cls-56 {
  fill: #d2dbda;
}
.deskwork_icon .cls-57 {
  fill: #b3d4e5;
}
.deskwork_icon .cls-58 {
  fill: #b74e29;
  opacity: 0.85;
}
.deskwork_icon .cls-70 {
  stroke: #fff;
  stroke-width: 0.25px;
}
.deskwork_icon .cls-71 {
  stroke: #280a54;
  stroke-linecap: round;
}
.deskwork_icon .cls-60 {
  fill: #838483;
}
.deskwork_icon .cls-61 {
  fill: #7c5e48;
}
.deskwork_icon .cls-62 {
  fill: #eaeaea;
}
.deskwork_icon .cls-63 {
  fill: #9cf;
}
.deskwork_icon .cls-64 {
  fill: #cecece;
}
.deskwork_icon .cls-65 {
  fill: #f2f2f2;
}
.deskwork_icon .cls-67 {
  fill: #322a84;
}
.deskwork_icon .cls-68 {
  fill: #94edad;
}
.deskwork_icon .desk_tablet_screen {
  fill: #9cf;
}
.deskwork_icon .watch_time {
  fill: var(--logoPurpleD);
}
.deskwork_icon .cls-txt {
  fill: var(--tc);
}
.deskwork_icon .cls-mid {
  fill: var(--midGray);
}
.deskwork_icon .watch_mer {
  transition: var(--t_M);
}
.deskwork_icon .icon_animation {
  opacity: 0;
  transform: translateY(4rem);
  transition: var(--t_M);
}
.deskwork_icon .screen_animation,
.deskwork_icon .screen_tablet_animation {
  opacity: 0;
  transition: var(--t_M);
}
.deskwork_icon .dev_screen {
  transition-delay: 500ms;
}
.deskwork_icon .icon_show {
  opacity: 0.7;
  transform: translateY(0);
}
.deskwork_icon .screen_show {
  opacity: 1;
}
.deskwork_icon .desk_portfolio,
.deskwork_icon .desk_ball {
  transition: var(--t_M);
}
.deskwork_icon .desk_portfolio:hover {
  transform: translateX(-10rem);
}
.deskwork_icon .desk_ball {
  margin-top: 10rem;
}
.deskwork_icon .desk_ball:hover .ball {
  animation: bounceUp 1000ms 250ms infinite ease-in-out;
}
.deskwork_icon .desk_ball:hover .ball_shadow {
  animation: ballShadowOpacity 1000ms 250ms infinite ease-in-out;
}
.deskwork_icon .svg_btn {
  cursor: crosshair;
}

.desk_icon_container {
  position: relative;
  width: 100%;
  height: auto;
}

.pallet_icon {
  scale: 0.75;
}
.pallet_icon .cls-1 {
  fill: var(--tc);
}
.pallet_icon .cls-2 {
  fill: var(--sc);
}
.pallet_icon .cls-3 {
  fill: #fafafa;
}
.pallet_icon .cls-4 {
  fill: #f74f80;
}
.pallet_icon .cls-5 {
  fill: #74d800;
}
.pallet_icon .cls-6 {
  fill: #00cde2;
}

.illustrator_icon_svg .cls-1 {
  fill: #2c0d0e;
}
.illustrator_icon_svg .cls-2 {
  fill: #f39719;
}

.photoshop_icon_svg .cls-1 {
  fill: #132034;
}
.photoshop_icon_svg .cls-2 {
  fill: #529fd7;
}

.inDesign_icon_svg .cls-2 {
  fill: #441023;
}
.inDesign_icon_svg .cls-1 {
  fill: #e73b69;
}

.after_icon_svg .cls-1 {
  fill: #9193c9;
}
.after_icon_svg .cls-1,
.after_icon_svg .cls-2 {
  stroke-width: 0px;
}
.after_icon_svg .cls-2 {
  fill: #20264d;
}

.premier_icon_svg .cls-1 {
  fill: #21244d;
}
.premier_icon_svg .cls-2 {
  fill: #9193c8;
}

.xd_icon_svg .cls-1 {
  fill: #431238;
}
.xd_icon_svg .cls-2 {
  fill: #be74ad;
}

.figma_icon_svg .cls-1 {
  fill: #2aa3d3;
}
.figma_icon_svg .cls-2 {
  fill: #2fa542;
}
.figma_icon_svg .cls-3 {
  fill: #f66;
}
.figma_icon_svg .cls-4 {
  fill: #dd3636;
}
.figma_icon_svg .cls-5 {
  fill: #9028db;
}

.animate_icon_svg .cls-1 {
  fill: #21244d;
}
.animate_icon_svg .cls-2,
.animate_icon_svg .cls-3 {
  fill: #9193c8;
}
.animate_icon_svg .cls-2 {
  fill-rule: evenodd;
}

.adobe_icon {
  transform: scale(0.8);
}

.html_icon_svg .cls-1 {
  fill: #e34d27;
}
.html_icon_svg .cls-2 {
  fill: #eb652b;
}
.html_icon_svg .cls-3 {
  fill: #fff;
}
.html_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.html_icon_svg .cls-5 {
  fill: var(--tc);
}

.css_icon_svg .cls-1 {
  fill: #2073b5;
}
.css_icon_svg .cls-2 {
  fill: #51a2d9;
}
.css_icon_svg .cls-3 {
  fill: #fff;
}
.css_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.css_icon_svg .cls-5 {
  fill: var(--tc);
}

.js_icon_svg {
  scale: 0.75;
}
.js_icon_svg .cls-1 {
  fill: #f7df1e;
}
.js_icon_svg .cls-2 {
  fill: #000;
}

.gitHub_icon_svg:not(.social_icon_svg) .cls-1 {
  fill: var(--tc);
}
.gitHub_icon_svg:not(.social_icon_svg) .cls-2 {
  fill: var(--tc);
  fill-rule: evenodd;
}

.sass_icon_svg .cls-1 {
  fill: #cf649a;
}

.vue_icon_svg .cls-1 {
  fill: #41b883;
}
.vue_icon_svg .cls-2 {
  fill: #41b883;
}
.vue_icon_svg .cls-3 {
  fill: #35495e;
}

.node_icon_svg .cls-1 {
  fill: #539e43;
}

.react_icon_svg .cls-1 {
  fill: #61dafb;
  stroke-width: 0px;
}

.vue_icon_svg {
  scale: 0.8;
}
.vue_icon_svg .cls-1 {
  fill: #35495e;
}
.vue_icon_svg .cls-2 {
  fill: #41b883;
}

.python_icon_svg {
  scale: 0.8;
}
.python_icon_svg .cls-1 {
  fill: #366a96;
}
.python_icon_svg .cls-2 {
  fill: #ffc836;
}
.python_icon_svg .cls-3 {
  fill: #fff;
}

.gitHub_icon_svg {
  transform: scale(0.85);
}

.contact_icon_svg {
  transform: scale(0.8);
}

.fb_icon_svg {
  transform: scale(0.75);
}

.label_btn {
  /* font-family: var(--titilliumFont); */
  font-size: var(--fs_n);
  font-weight: var(--fw_n);
  display: block;
  line-height: 1;
  font-weight: 600;
}

.separator {
  display: block;
  background: var(--fc);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.accent_color {
  color: var(--sc);
  fill: var(--sc);
}

.accessibility_btn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: var(--fc);
  color: var(--bgC);
  font-size: var(--fs_l);
  padding: var(--lg);
  transition: var(--t_f);
  translate: 0 -100%;
  z-index: 999;
}

.accessibility_btn:focus {
  translate: 0;
}

.icon_container {
  --iconPd: calc(var(--md) + var(--sm));
  overflow: hidden;
  width: var(--iconD);
  height: var(--iconD);
  padding: var(--iconPd);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  fill: var(--fc);
}

.icon_container:not(.logo_btn),
.phone_social_btn {
  border-radius: var(--lg);
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: var(--bgC_off);
  border-radius: var(--lg);
  z-index: 2;
  display: none;
  transition: var(--t_uf);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 250px;
  width: 100%;
  box-shadow: 2px 2px 2rem var(--shadow), -2px -2px 2rem var(--shadow);
}
.bubble .header_bubble {
  height: 6rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bubble .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--sm);
  padding: var(--lg);
}
.bubble .info SPAN {
  display: block;
  text-align: left;
}
.bubble .description {
  font-size: var(--t_M);
  text-wrap: balance;
}
.bubble .title {
  color: var(--tc);
}
.bubble .image {
  height: auto;
}
.bubble .photo {
  position: absolute;
  top: var(--xl);
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.bubble .name {
  color: var(--fc);
  font-size: var(--fs_l);
  text-align: center;
}
.bubble .skill,
.bubble .place {
  font-size: var(--fs_n);
  line-height: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tc);
  width: 100%;
}

.rex_bubble,
.bio_bubble {
  top: 0;
  left: 0;
  overflow: hidden;
}
.rex_bubble .info,
.bio_bubble .info {
  margin-top: var(--lg);
}

.rex_bubble .header_bubble {
  background: url(../img/backgrounds/parkSmall.webp);
}

.bio_bubble .header_bubble {
  background: url(../img/backgrounds/graffitiSmall.webp);
}

.info_bubble {
  padding: var(--lg);
  gap: var(--md);
}
.info_bubble .description {
  line-height: 1var --xl;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--iconD);
  width: 100%;
  color: var(--bgC);
  outline: solid 2px var(--fc);
  border-radius: var(--xl);
  text-align: center;
  padding: var(--lg) var(--md);
  cursor: pointer;
  transition: var(--t_f);
}
.btn .label_btn {
  transition: var(--t_f);
  color: var(--tc);
  font-weight: var(--fw_b);
}
.btn:hover, .btn:active, .btn:focus {
  background: var(--btnGradient);
  outline-color: transparent;
}
.btn:hover .label_btn, .btn:active .label_btn, .btn:focus .label_btn {
  color: var(--whiteOff);
}

.btn_down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8rem;
  height: 6rem;
  color: var(--tc);
  margin-top: 4rem;
}
.btn_down .arrow_down_svg {
  margin-top: var(--lg);
  width: var(--xl);
  animation: bounceDown 1s ease infinite;
  transition: var(--t_f);
}
.btn_down:hover .arrow_down_svg {
  fill: var(--fc);
}

.close_btn .close_icon_svg {
  transition: rotate 500ms ease-in-out;
}
.close_btn:hover {
  background: var(--fc);
  fill: var(--bgC);
}
.close_btn:hover .close_icon_svg {
  rotate: 360deg;
}

.nav_btn:not(.phone_lang_btn) {
  height: 100%;
}

.nav_btn {
  color: var(--tc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_btn .label_btn {
  width: -moz-fit-content;
  width: fit-content;
}
.nav_btn .icon_btn {
  display: none;
}
.nav_btn .icon_svg {
  height: 100%;
  width: auto;
}
.nav_btn:hover {
  background: var(--h);
  color: var(--bgC);
}
.nav_btn:hover .icon_container {
  fill: var(--bgC) !important;
}

.extra_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--tc);
}
.extra_btn:hover {
  background: var(--fc);
  fill: var(--bgC);
}
.extra_btn:hover .icon_container {
  fill: var(--bgC);
}

.more_btn {
  color: var(--tc);
  font-weight: var(--fw_b);
  font-size: var(--fs_n);
}
.more_btn:hover {
  color: var(--whiteOff);
}

.link_btn {
  color: var(--midGray);
}
.link_btn .label_btn {
  font-size: var(--fs_n);
  font-weight: var(--fw_l);
}

.close_control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.phone_menu_btn {
  width: 100%;
  font-size: var(--fs_n);
  color: var(--tc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_menu_btn .icon_container {
  fill: var(--fc);
}
.phone_menu_btn:hover .icon_container {
  fill: var(--bgC);
}
.phone_menu_btn:hover:not(.extra_btn) {
  background: var(--h);
  color: var(--bgC);
}

.bar {
  position: absolute;
  height: 2px;
  background: var(--fc);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--t_M);
  border-radius: var(--sm);
}

.top_bar {
  top: var(--md);
}

.bottom_bar {
  bottom: var(--md);
}

.center_bar {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom_bar,
.top_bar {
  width: var(--iconD);
}

.center_bar {
  width: 6rem;
}

.btn_construction {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  color: var(--tc);
  margin-right: 3rem;
}
.menu_btn:hover .bottom_bar,
.menu_btn:hover .top_bar,
.menu_btn:hover .center_bar {
  width: 3rem;
}

.logo_btn {
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--md);
  width: -moz-fit-content;
  width: fit-content;
  height: var(--logoHeight);
  scale: 1;
  transition: var(--t_scale), height 500ms ease;
}
.logo_btn .johnK_full,
.logo_btn .johnK_icon {
  width: auto;
  height: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 500ms linear;
}
.logo_btn .johnK_full .braket,
.logo_btn .johnK_icon .braket {
  fill: var(--logoGray);
}
.logo_btn .johnK_full .letter,
.logo_btn .johnK_icon .letter {
  fill: var(--fc);
}
.logo_btn .johnK_full .dot,
.logo_btn .johnK_icon .dot {
  fill: var(--sc);
}
.logo_btn .johnK_icon {
  display: none;
}
.logo_btn:hover, .logo_btn:focus, .logo_btn:active {
  scale: 1.2;
}
.logo_btn .remove {
  display: none;
}
.logo_btn .add {
  display: block;
}
.logo_btn .show_logo {
  opacity: 1;
  transform: translateY(0);
}

.flex {
  display: flex;
}

.flex_responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--xl);
}
.flex_responsive .responsive_content {
  width: 100%;
}

.subtitle_section {
  margin: var(--xl) 0 var(--lg);
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  -webkit-text-stroke: 1px var(--fc);
  color: transparent;
  font-size: var(--fs_x);
}

.animated_social_btn {
  transition: var(--t_scale);
}
.animated_social_btn:hover {
  scale: 1.2;
}

.social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
}
.card .bg_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  transform: scale(1);
  transition: var(--t_M);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.card .bg_card IMG {
  -o-object-position: center;
     object-position: center;
}
.card .info_container {
  color: var(--tc);
  padding: var(--lg) 1.5rem var(--xl);
  transition: var(--t_s);
}
.card .info_container P,
.card .info_container H3,
.card .info_container H4 {
  margin: var(--md) 0;
}

.service_card .info_card {
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bgC_st);
  padding: var(--xl) 0;
  width: 100%;
  height: 100%;
}
.service_card .info_card H2 {
  width: 100%;
  text-align: center;
  color: var(--tc);
  font-size: var(--fontSizeXClamp);
  transition: var(--t_M);
  opacity: 0.9;
  transform: translateY(100%);
}
.service_card .info_card P {
  padding: var(--lg) 1.5rem;
  transition: var(--t_M);
  opacity: 0;
  transform: translateY(100%);
  text-align: center;
  inline-size: 90%;
  font-size: var(--fontSizeSClamp);
}
.service_card:hover .bg_card {
  transform: scale(1.2);
}
.service_card:hover .info_card {
  background: var(--bgC_t);
}
.service_card:hover .info_card P,
.service_card:hover .info_card H2 {
  transform: translateY(0);
}
.service_card:hover .info_card P {
  opacity: 1;
}
.service_card:hover .info_card H2 {
  color: var(--fc);
}

.project_card {
  position: relative;
  transition: var(--t_f);
  z-index: var(--zIndexStart);
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: var(--sm);
}
.project_card .img_card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project_card .info_project_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--xl);
  transition: var(--t_f);
  background: var(--bgC_t);
  transform: translateY(100%);
  opacity: 0;
}
.project_card .info_project_container .title {
  width: 100%;
  text-align: center;
  font-size: var(--fs_l);
  color: var(--fc);
  margin-bottom: var(--md);
  line-height: 1;
}
.project_card .info_project_container .subtitle {
  width: 100%;
  text-align: center;
  font-size: var(--fs_n);
}
.project_card .info_project_container .icons_project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sm);
  width: 100%;
  text-align: center;
}
.project_card .info_project_container .icons_project_container .tech_icon_card {
  width: auto;
  height: 100%;
}
.project_card .info_project_container .icons_project_container .tech_icon_card .cls-5 {
  fill: var(--tc);
}
.project_card .info_project_container .margin_bottom {
  margin-bottom: var(--lg);
}
.project_card:hover .info_project_container, .project_card:active .info_project_container, .project_card:focus .info_project_container {
  transform: translateY(0);
  opacity: 1;
}

.content {
  min-width: 250px;
  width: 1400px;
  max-width: 90%;
  padding: 4rem 0;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--lg);
}

.input_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: var(--lg);
}

.cards_container {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
}

.cards_service_container {
  display: grid;
  grid-column: subgrid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
  gap: 0;
  min-height: auto;
  padding: var(--xl) 0;
}
.cards_service_container .service_card {
  grid-column: span 2;
}

.cards_presentation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--fc);
  padding: var(--xl) 0 var(--lg);
  margin-bottom: var(--lg);
}
.cards_presentation .subtitle_section {
  margin: 0;
}
.cards_presentation .portfolio_btn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--fs_l);
  color: var(--midGray);
}

.cards_portfolio_container {
  overflow-y: auto;
  padding-top: var(--md);
}

.lists_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  width: 100%;
}
.lists_container .btn {
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.description_portfolio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--lg);
  height: 5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--lg);
}
.description_portfolio SPAN {
  display: block;
  font-size: var(--fontSizeMClamp);
}

.list_btns_container {
  position: relative;
  min-width: auto;
  max-width: 100%;
}
.list_btns_container .list_btn {
  display: block;
  min-width: auto;
  width: 100%;
  background: var(--bgC_st);
  border: none;
  border-radius: var(--sm);
  text-transform: uppercase;
  padding: var(--md) 3rem;
}
.list_btns_container .list_btn .label_btn {
  color: var(--tc);
  pointer-events: none;
  line-height: 1;
}
.list_btns_container .list_btn:hover, .list_btns_container .list_btn:active, .list_btns_container .list_btn:focus {
  filter: hue-rotate(45deg);
}
.list_btns_container .list_btn:hover .label_btn, .list_btns_container .list_btn:active .label_btn, .list_btns_container .list_btn:focus .label_btn {
  color: var(--whiteOff);
}
.list_btns_container .list_btn:hover,
.list_btns_container .list_btn:active,
.list_btns_container .list_btn:focus {
  color: var(--bgC);
  background: var(--btnGradient);
  fill: var(--bgC);
}
.list_btns_container .search_list_btn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md);
  background: var(--bgC_st);
  border-radius: 0;
  border-bottom: solid 2px var(--fc);
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: var(--md) var(--lg);
}
.list_btns_container .search_list_btn .label_btn {
  color: var(--tc);
  pointer-events: none;
  line-height: 1;
}
.list_btns_container .search_list_btn .icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_btns_container .list_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: var(--t_uf);
  display: none;
  bottom: 0;
  left: 0;
  width: auto;
  background: var(--bgC_st);
  transform: translateY(100%);
  z-index: 2;
}
.list_btns_container .list_down {
  display: flex;
}
.list_btns_container .arrow_list_icon {
  transition: rotate 500ms ease;
  rotate: -180deg;
}
.list_btns_container .arrow_list_icon_active {
  fill: var(--tc);
  rotate: 0deg;
}
.list_btns_container .list_btn_active {
  background: var(--btnGradient) !important;
}
.list_btns_container .list_btn_active .label_btn {
  color: var(--whiteOff) !important;
}
.list_btns_container .list_extra_btns_container {
  width: 100%;
}

.form {
  position: relative;
}

.form_response_container {
  position: absolute;
  top: calc(50% - 4rem);
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  transition: var(--t_f);
  padding: var(--lg);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: var(--md);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.form_response_container .form_response {
  text-align: center;
  font-size: var(--fs_l);
}

.contact_form {
  background: var(--bgC_off);
  padding: var(--xl);
  border-radius: var(--lg);
}
.contact_form .form_response_container {
  width: calc(100% - 6rem);
}

.modal_window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: var(--sm);
  left: 50%;
  width: 90%;
  max-width: 720px;
  height: -moz-fit-content;
  height: fit-content;
  transition: var(--t_M);
  transform: translate(-50%, -50%);
  border-radius: var(--lg);
  padding: var(--xl) 0 0;
  max-height: calc(100vh - var(--xl));
  overflow: hidden;
  display: none;
  opacity: 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bgC_off);
  z-index: 9;
  transition: var(--t_f);
  display: none;
  opacity: 0;
}
.modal .modal_info {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: var(--lg);
}
.modal .modal_header {
  padding: var(--lg) 0;
  width: 100%;
}
.modal .portfolio_modal {
  max-width: 1800px;
  min-height: 20rem;
  overflow: visible;
}
.modal .alert_modal .btn,
.modal .legal_modal .btn {
  width: calc(100% - var(--lg));
  margin: var(--lg) VAR(--md);
}
.modal .alert_modal .modal_info {
  text-align: center;
}
.modal .legal_modal .modal_info {
  overflow: auto;
  scroll-behavior: smooth;
  padding-right: var(--lg);
  border-top: solid var(--fc) 4px;
  padding: var(--lg) var(--lg) 0 0;
}
.modal .legal_modal .modal_info .inner_link_btn {
  width: 100%;
}
.modal .contact_modal {
  position: relative;
}
.modal .contact_modal .modal_form {
  width: 100%;
}
.modal .contact_modal .modal_form .form_response_container {
  width: calc(100% - 4rem);
}
.modal .submit_container {
  padding: var(--md);
}

.inner_link_btn {
  text-decoration: underline;
  color: var(--fc);
}
.inner_link_btn:visited {
  color: inherit;
}

.icons_container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--lg);
}

.section_divider {
  width: 100%;
  background: var(--bgC_off);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section_divider .quote_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section_divider .quote_container .quote {
  font-size: var(--fontSizeXClamp);
  color: var(--tc);
  text-align: center;
}
.section_divider .quote_container .quote:after,
.section_divider .quote_container .quote:before {
  content: "";
}
.section_divider .quote_container .quote_icon {
  height: 100%;
  width: var(--iconD);
}
.section_divider .quote_container .quote_start {
  align-self: flex-start;
  transform: translateY(-var(--xl));
}
.section_divider .quote_container .quote_end {
  transform: translateY(var(--xl));
  align-self: flex-end;
}
.section_divider .quote_container .icon_container {
  fill: var(--fc);
}
.section_divider .author_container {
  margin-top: var(--xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.section_divider .author_container SPAN {
  display: block;
  text-align: right;
}
.section_divider .author_container .author {
  margin-bottom: var(--md);
}
.section_divider .author_container .author i {
  font-size: var(--fontSizeMClamp);
  color: var(--sc);
  font-weight: var(--fw_b);
}
.section_divider .author_container .author_info {
  color: var(--tc);
  font-size: var(--fontSizeSClamp);
  text-transform: capitalize;
}
.section_divider .author_container .author,
.section_divider .author_container .author_info {
  line-height: 1;
}
.section_divider .divider_content {
  padding: 20rem 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: var(--t_s);
}
.section_divider .show_quote {
  opacity: 1;
  transform: translateX(0);
}

.section_divider:nth-of-type(2n) .divider_content {
  transform: translateX(100%);
}
.section_divider:nth-of-type(2n) .show_quote {
  opacity: 1;
  transform: translateX(0);
}

.section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - var(--nvh));
  min-height: var(--fs_nvh);
}

.with_bg {
  position: relative;
  justify-content: center;
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

.bg_section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.hero_section .overlay {
  background: var(--backgroundHero);
}
.hero_section .title_container H2 {
  color: var(--tc);
  /* text-align: left; */
  margin-top: var(--lg);
}
.hero_section .title_container H1 {
  color: var(--tc);
  font-size: var(--fontSizeXLClamp);
  line-height: 6rem;
  /* text-align: left; */
}
.hero_section .btns_container {
  justify-content: space-between;
  width: 100%;
  max-width: 35rem;
  gap: var(--xl);
}
.hero_section .btns_container .btn {
  max-width: 15rem;
  min-width: 10rem;
  padding: var(--lg) var(--xl);
}
.hero_section .content {
  padding: 0;
}

.about_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.about_section .section_content {
  position: relative;
}
.about_section .social_btns_container {
  width: -moz-fit-content;
  width: fit-content;
}
.about_section .about_salute {
  width: 100%;
  height: 100%;
}
.about_section .about_salute .title_salute,
.about_section .about_salute .title_name {
  text-align: inherit;
  padding: 0;
  margin: 0;
}
.about_section .about_salute .title_salute {
  font-size: var(--fs_xl);
  color: var(--fc);
}
.about_section .about_salute .title_name {
  font-size: var(--fontSizeXLClamp);
  color: var(--sc);
}
.about_section .about_salute .title_effect {
  animation: blink 500ms 0s infinite alternate;
  color: var(--fc);
}
.about_section .about_salute .swipe_animation_container_half {
  padding: 0 var(--xl);
}
.about_section .about_salute .about_text {
  font-size: var(--fontSizeMClamp);
  margin-top: var(--xl);
}
.about_section .about_img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about_section PICTURE {
  width: clamp(10rem, 60%, 40rem);
  border-radius: 0 0 30% 30%;
  overflow: hidden;
  position: relative;
}
.about_section PICTURE::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background: var(--btnGradient);
  z-index: -1;
  border-radius: 30%;
}
.about_section PICTURE IMG {
  transform: translateY(2rem);
}
.about_section PICTURE *, .about_section PICTURE::after {
  transition: var(--t_M);
}
.about_section PICTURE:hover::after {
  height: 60%;
}
.about_section PICTURE:hover IMG {
  transform: translateY(0);
}
.about_section .flex_responsive {
  align-items: center;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--md);
  color: var(--bgC);
  padding: var(--lg);
}
.badge .badge_name {
  color: var(--tc);
  font-size: var(--fs_n);
  line-height: 1;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_badge {
  max-width: 200px;
}

.certification_badge {
  justify-content: space-between;
  background: var(--bgC_off);
  border-radius: var(--md);
  gap: var(--xl);
}
.certification_badge .badge_name {
  margin-top: var(--md);
}
.certification_badge .badge_image {
  height: auto;
}

.certification_container {
  gap: var(--lg);
}

.skills_section {
  --iconD: 8rem;
}
.skills_section .btn {
  --iconD: 4rem;
}

.services_container {
  position: relative;
}

.contact_section .overlay {
  background: var(--bgHeaderSectionContact);
}
.contact_section .form {
  max-width: 800px;
  width: 100%;
}
.contact_section .form H3 {
  font-size: var(--fs_l);
  text-align: center;
}
.contact_section .whatsapp_btn {
  padding: 0 var(--xl);
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--sm);
  background: var(--bgC_off);
  border-radius: 3rem;
  margin-top: var(--xl);
  color: var(--tc);
}
.contact_section .whatsapp_btn:hover {
  color: var(--whiteOff);
  background: var(--btnGradient);
}
.contact_section .whatsapp_btn:hover .wa_icon_svg .cls-1 {
  fill: var(--whiteOff);
}

.legals_section {
  background: var(--bgC_off);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.legals_section .footer_content {
  width: 100%;
  padding: 2rem 0;
}
.legals_section .lebels_container {
  height: 100%;
}
.legals_section .made_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.legals_section .social_btns_container,
.legals_section .btns_container {
  width: -moz-fit-content;
  width: fit-content;
}
.legals_section .btns_container {
  justify-content: flex-end;
  gap: 1rem;
}

.link_text {
  font-size: var(--fs_xs);
  color: var(--tc);
}

.link_text {
  line-height: 1.5;
}

.copy_rights {
  font-weight: 400;
  color: var(--fc);
}

.nav_menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--navBg);
  z-index: 5;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu .content {
  padding: 0;
}
.nav_menu .menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_menu .icon_container:not(.logo_btn) {
  --cionSize: 3.5rem;
  fill: var(--tc);
}
.nav_menu .btn_active .icon_btn {
  fill: var(--bgC);
}

.nav_menu_controler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
}
.nav_menu_controler .btn_container,
.nav_menu_controler .nav_menu_link_btns,
.nav_menu_controler .nav_menu_icon_svg {
  width: auto;
  height: 100%;
}
.nav_menu_controler .nav_menu_link_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu_controler .nav_btn {
  padding: 0 var(--lg);
}
.nav_menu_controler .theme_btn:hover {
  fill: var(--bgC);
}
.nav_menu_controler .label_btn:not(.label_lang) {
  display: none;
}

.phone_menu_controler {
  --menuPosition: 0;
  position: fixed;
  left: 0;
  right: 0;
  border-radius: var(--menuRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: var(--menuDirection);
  height: auto;
  width: 100%;
  background: var(--bgC_off);
  transition: var(--t_f);
  transform: var(--menuPosition);
  z-index: 6;
  overflow: hidden;
  opacity: 0;
  display: none;
}
.phone_menu_controler .extra_btns_container,
.phone_menu_controler .social_btns_container {
  width: 100%;
}
.phone_menu_controler .nav_menu_link_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.phone_menu_controler .nav_menu_link_btns .phone_menu_btn {
  height: var(--iconD);
}
.phone_menu_controler .extra_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phone_menu_controler .extra_btns_container .btns_container {
  padding-top: 0;
}
.phone_menu_controler .extra_btns_container .label_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--iconD);
  min-width: var(--iconD);
  font-size: var(--fs_l);
}
.phone_menu_controler .social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}
.phone_menu_controler .social_btns_container .phone_menu_btn {
  height: 100%;
  padding: 0.75rem;
}

.menu_social_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 4rem;
  left: var(--xl);
  min-height: var(--iconD);
  z-index: 4;
  fill: var(--fc);
}
.menu_social_container .menu_social_btns_container {
  height: auto;
  transition: var(--t_f);
  margin: var(--lg) 0;
  background: var(--bgC_t);
  border-radius: var(--lg);
}
.menu_social_container .menu_btn_social_menu {
  background: var(--bgC_t);
}
.menu_social_container .social_menu_btn {
  border-radius: var(--lg);
}
.menu_social_container .social_menu_btn:hover .icon_container {
  background: var(--fc);
}
.menu_social_container .social_menu_btn:hover .icon_container .cls-2,
.menu_social_container .social_menu_btn:hover .icon_container .cls-1 {
  fill: var(--bgC);
}

.menu_social_btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  opacity: 0;
}

.animation_up {
  position: relative;
}

.animation_up:nth-of-type(2),
.card_up:nth-of-type(2):not(.project_card) {
  transition-delay: 100ms;
}

.animation_up:nth-of-type(3),
.card_up:nth-of-type(3):not(.project_card) {
  transition-delay: 200ms;
}

.animation_up:nth-of-type(4),
.card_up:nth-of-type(4):not(.project_card) {
  transition-delay: 300ms;
}

.animation_up:nth-of-type(5),
.card_up:nth-of-type(5):not(.project_card) {
  transition-delay: 400ms;
}

.animation_up:nth-of-type(6),
.card_up:nth-of-type(6):not(.project_card) {
  transition-delay: 500ms;
}

.animation_up:nth-of-type(7),
.card_up:nth-of-type(7):not(.project_card) {
  transition-delay: 600ms;
}

.animation_up:nth-of-type(8),
.card_up:nth-of-type(8):not(.project_card) {
  transition-delay: 700ms;
}

.animation_up:nth-of-type(9),
.card_up:nth-of-type(9):not(.project_card) {
  transition-delay: 800ms;
}

.animation_up,
.card_up {
  opacity: 0;
  transform: translateY(4rem);
  transition: var(--t_f);
}

.show_flex {
  display: flex;
}

.show_opacity {
  opacity: 1;
}

.show_krazy {
  transform: translateX(0);
}

.show_card {
  transform: translateY(0);
  opacity: 1;
}

.show_menu {
  transform: translateY(0);
}

.modal_open {
  transform: translate(-50%, 0);
  opacity: 1;
}

.open_modal {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.btn_active {
  background: var(--fc);
  color: var(--bgC);
}
.btn_active .label_btn {
  color: var(--bgC);
}
.btn_active .label_btn,
.btn_active .icon_btn {
  animation: bounce 2s ease-in-out infinite;
}
.btn_active .cls-1 {
  fill: var(--bgC);
}

[position-social=top] {
  top: 2rem;
  bottom: inherit;
  flex-direction: column;
}

[position-social=bottom] {
  top: inherit;
  bottom: 2rem;
  flex-direction: column-reverse;
}

[position-menu=top] {
  --menuPosition: translateY(-100%);
  --menuDirection: column;
  --menuRadius: 0 0 var(--lg) var(--lg);
  top: 0;
}

[position-menu=bottom] {
  --menuPosition: translateY(100%);
  --menuDirection: column-reverse;
  --menuRadius: var(--lg) var(--lg) 0 0;
  bottom: 0;
}

[size=big] {
  --logoHeight: 4rem;
  --navBg: var(--bgC_off);
  height: var(--nvh);
}

[size=small] {
  --logoHeight: 3rem;
  --navBg: var(--bgC_t);
  height: var(--nvh_f);
}

[good] {
  background: var(--bgGood);
  color: var(--whiteOff);
  border-color: var(--good);
}

[danger] {
  background: var(--bgDanger);
  color: var(--blackOff);
  border-color: var(--danger);
}

[hidden] {
  display: none;
}

[hidden=false] {
  display: flex;
}

@media screen and (min-width: 880px) {
  .flex_responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .legals_section .flex_responsive {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .flex_img {
    flex-basis: 30%;
  }
  .flex_info {
    flex-basis: 70%;
  }
  .cards_service_container .service_card {
    grid-column: span 4;
  }
  .cards_service_container .service_card:nth-child(2),
  .cards_service_container .service_card:nth-child(3),
  .cards_service_container .service_card:nth-child(6) {
    grid-column: span 2;
  }
  .menu_btn {
    display: none;
  }
  .phone_menu_controler {
    display: none;
  }
  .nav_menu_controler {
    display: flex;
  }
  .nav_btn .icon_btn {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .flex_responsive {
    flex-direction: row;
  }
  .nav_btn .label_btn:not(.label_lang) {
    display: flex;
  }
  .nav_btn .icon_btn {
    display: none;
  }
}
/* @media screen and (min-width: 1185px) {

} */
@media screen and (min-width: 1342px) {
  .cards_service_container .service_card:nth-child(2),
  .cards_service_container .service_card:nth-child(3),
  .cards_service_container .service_card:nth-child(6) {
    grid-column: span 3;
  }
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}