*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
}
@keyframes bounceDown {
  50% {
    transform: translateY(1rem);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes beat {
  10% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  35% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --logoGray: hsl(0, 0%, 65%);
  --lightray: hsl(0, 0%, 75%);
  --midGray: hsl(0, 0%, 50%);
  --darkGray: hsl(0, 0%, 25%);
  --blackOff: hsl(0, 0%, 15%);
  --whiteOff: hsl(0, 0%, 85%);
  --midLight: hsl(0, 0%, 50%);
  --FS_XS: 0.8rem;
  --FS_S: 1rem;
  --FS_N: 1.4rem;
  --FS_L: 1.8rem;
  --FS_X: 2.8rem;
  --FS_XL: 6rem;
  --FW_L: 200;
  --FW_N: 400;
  --FW_B: 600;
  --FW_BB: 700;
  --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
  --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
  --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
  --fontSizeXLClamp: clamp(6rem, calc(1.5rem + 3vw), 8rem);
  --T_UF: all 250ms ease-in-out;
  --T_F: all 500ms ease-in-out;
  --T_M: all 750ms ease-in-out;
  --T_S: all 1000ms ease-in-out;
  --FS: 12px;
  --NVH_F: 6rem;
  --NVH: 8rem;
  --FS_NVH: calc(100svh - var(--NVH));
  --FS-FNVH: calc(100svh - var(--NVH_F));
  --titanimFont: "Titillium Web", sans-serif;
  font-family: var(--titanimFont);
  font-size: var(--FS);
  line-break: loose;
  line-height: 1.2;
  letter-spacing: 0.15rem;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.svg_gradients {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.light_theme {
  --FC: hsl(260, 84%, 25%);
  --FC_H: hsl(260, 85%, 15%);
  --SC: hsl(195, 85%, 60%);
  --SC_H: hsl(195, 63%, 48%);
  --TC: hsl(0, 0%, 10%);
  --TC_C: hsl(0, 0%, 90%);
  --NVC: hsl(0, 0%, 95%);
  --NVC_T: hsla(0, 0%, 95%, 0.75);
  --tooltipColor: hsl(0, 0%, 5%);
  --bgC: hsl(0, 0%, 90%);
  --bgC_T: hsla(0, 0%, 95%, 0.75);
  --bgC_UT: hsla(0, 0%, 95%, 0.25);
  --bgC_C: hsl(0, 0%, 10%);
  --bgOff: hsl(0, 0%, 80%);
  --bgM: hsla(0, 0%, 90%, 0.75);
  --vueIconText: hsl(0, 0%, 20%);
  color: var(--TC);
  --backgroundHero: linear-gradient(transparent, var(--bgC) 75%), url("../img/backgrounds/day.jpg") center no-repeat fixed;
  --bgHeaderSectionAbout: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/fondoBasket.png") center no-repeat fixed;
  --bgHeaderSectionAbout2: linear-gradient(var(--bgColorUT), var(--bgColor) 75%), url("https://images.pexels.com/photos/7130470/pexels-photo-7130470.jpeg") center no-repeat fixed;
  --bgHeaderSectionServices: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/office-932926_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionPortfolio: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/sunglasses-1284392_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionSkills: linear-gradient(var(--bgC), hsla(0, 0%, 100%, 0.5), var(--bgC)), url("../img/backgrounds/pexels-julia-m-cameron-4144097.jpg") center no-repeat fixed;
  --bgHeaderSectionContact: linear-gradient(var(--bgC), hsla(0, 0%, 100%, 0.5), var(--bgC)), url("../img/backgrounds/pexels-alex-andrews-821754.jpg") center no-repeat fixed;
}
.light_theme .leiru_icon_svg .brand .cls-1,
.light_theme .leiru_icon_svg .brand-append .cls-1 {
  fill: hsl(134, 74%, 36%);
}
.light_theme .leiru_icon_svg .text {
  fill: var(--TC);
}

.dark_theme {
  --FC_H: hsl(190, 100%, 70%);
  --FC: hsl(190, 100%, 40%);
  --SC: hsl(240, 55%, 60%);
  --SC_H: hsl(240, 55%, 40%);
  --TC: hsl(0, 0%, 90%);
  --TC_C: hsl(0, 0%, 10%);
  --NVC: hsl(0, 0%, 5%);
  --NVC_T: hsla(0, 0%, 5%, 0.75);
  --tooltipColor: hsl(0, 0%, 95%);
  --bgC: hsl(0, 0%, 10%);
  --bgC_T: hsla(0, 0%, 5%, 0.75);
  --bgC_UT: hsla(0, 0%, 5%, 0.25);
  --bgC_C: hsl(0, 0%, 90%);
  --bgOff: hsl(0, 0%, 20%);
  --bgM: hsla(0, 0%, 10%, 0.75);
  --vueIconText: hsl(0, 0%, 80%);
  --backgroundHero: linear-gradient(transparent, var(--bgC) 90%), url("../img/backgrounds/night.jpg") center no-repeat fixed;
  --bgHeaderSectionAbout: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/graffiti-background-1554703550MY5.jpg") center no-repeat fixed;
  --bgHeaderSectionServices: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/pexels-ovan-57690.jpg") center no-repeat fixed;
  --bgHeaderSectionPortfolio: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/workspace-1280538_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionSkills: linear-gradient(var(--bgC) 10%, hsla(0, 0%, 0%, 0.5), var(--bgC) 90%), url("../img/backgrounds/tools-1083796_1920.jpg") center no-repeat fixed;
  --bgHeaderSectionContact: linear-gradient(var(--bgC) 10%, hsla(0, 0%, 0%, 0.5), var(--bgC) 90%), url("../img/backgrounds/post-letter-2828146_1920.jpg") center no-repeat fixed;
  color: var(--TC);
}
.dark_theme .leiru_icon_svg .brand .cls-1,
.dark_theme .leiru_icon_svg .brand-append .cls-1 {
  fill: var(--TC);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--TC);
  background: var(--bgC);
}
body img {
  width: 100%;
}
body a {
  background: none;
  text-decoration: none;
}
body a:visited,
body a:focus,
body a:active {
  color: unset;
}
body ul {
  list-style: none;
}
body INPUT[type=text],
body INPUT[type=email],
body TEXTAREA,
body LABEL {
  display: block;
  width: 100%;
  height: auto;
}
body INPUT[type=text],
body INPUT[type=email],
body TEXTAREA {
  border: none;
  background: var(--bgC);
  color: var(--TC);
  font-size: var(--fontSizeS);
  font-family: var(--poppinsFont);
  padding: 1rem 0.5rem;
}
body BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
body SVG {
  width: 100%;
  height: auto;
}
body H1,
body H2,
body H3,
body H4 {
  padding: 0;
  margin: 0;
}
body H1,
body H2 {
  text-align: center;
}
body H1 {
  color: var(--FC);
  font-size: var(--FS_L);
}
body H2 {
  font-size: var(--FS_N);
  color: var(--midGray);
}
body H3 {
  font-size: var(--FS_N);
}
body P {
  font-size: var(--FS_N);
  color: var(--TC);
}

.form {
  background: var(--NVC);
  padding: 2rem 3rem;
  border-radius: 1rem;
}
.form .btn {
  width: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bgM);
  z-index: 9;
  display: none;
  opacity: 0;
  transition: var(--T_F);
}
.modal .modal_window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
  top: 4rem;
  left: 50%;
  width: 90%;
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--NVC);
  padding: 2rem;
  opacity: 0;
  transition: var(--T_M);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
}
.modal .btn {
  width: 100%;
}
.modal .modal_info {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}
.modal .modal_header {
  padding: 1rem 0;
  width: 100%;
}

.alert_modal .btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.alert_modal .btn_container .inner_link_btn {
  text-decoration: underline;
  color: var(--SC);
}
.alert_modal .btn_container .inner_link_btn:visited {
  color: inherit;
}
.alert_modal .modal_info .btn_container {
  padding: 0;
}

.legal_modal {
  max-height: 90vh;
  overflow: hidden;
}
.legal_modal .modal_info {
  overflow: auto;
  scroll-behavior: smooth;
  padding-right: 1rem;
}
.legal_modal .modal_info .btn_container {
  width: 100%;
  padding: 2rem 0;
}
.legal_modal .modal_info .btn_container .more_btn {
  width: 100%;
}

.contact_modal {
  position: relative;
}
.contact_modal .modal_form {
  width: 100%;
}

.section:not(.hero_section) {
  margin-bottom: 2rem;
  /* min-height: calc(100vh - var(--NVH_F)); */
  height: auto;
  min-height: var(--FS-FNVH);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_content {
  width: 100%;
}

.hero_section {
  height: var(--FS_NVH);
}

.legals_section {
  background: var(--NVC);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.legals_section .made_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.legals_section .made_container .icons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.legals_section .lebels_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.legals_section .social_btns_container {
  width: auto;
  justify-content: center;
}
.legals_section .icon_container {
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
}
.legals_section .link_text,
.legals_section .copyright_text {
  font-size: var(--FS_XS);
  color: var(--TC);
}
.legals_section .link_text {
  line-height: 1.5;
}
.legals_section .made_content .btns_container :not(:first-child) {
  margin-left: 2rem;
}

.sliders_container {
  position: relative;
  width: 100%;
  height: calc(100svh - var(--NVH_F) - 8rem);
  overflow: hidden;
  margin: 3rem 0 6rem;
}
.sliders_container .slider_window_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  transition: var(--T_F);
}
.sliders_container .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sliders_container .slider_container .slider_content_normal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sliders_container .slider_container .slider_content_reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.sliders_container .slider_container .slider_content {
  height: 100%;
  width: var(--widthClamp);
  /* .illustration_mine {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
      } */
}
.sliders_container .slider_container .slider_content .info_container {
  padding: 0 2rem;
}
.sliders_container .slider_container .slider_content IMG {
  display: block;
  width: 100%;
  height: auto;
}
.sliders_container .slider_container .slider_content .info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
}
.sliders_container .slider_container .slider_content .info_container .slider_card_info {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.sliders_container .slider_container .slider_content .info_container .slider_card_info .slider_title {
  width: 100%;
  padding: 1rem 0;
}
.sliders_container .slider_container .slider_content .info_container .slider_card_info .slider_info {
  width: 100%;
}
.sliders_container .slider_container .slider_content .info_container .slider_card_info .btn {
  margin-top: 1rem;
  width: 100%;
  z-index: var(--zIndexMenu);
}
.sliders_container .slider_container .slider_content > * {
  flex-basis: 100%;
}
.sliders_container .slider_container .web_planet_img {
  animation: spin 300s linear infinite;
}
.sliders_container .markers_container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--NVCTransparent);
  border-radius: nav(--borderRadius);
}
.sliders_container .btn_swipe_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 4rem;
  padding: 0 1rem;
}
.sliders_container .btn_swipe_container .btn_swipe {
  cursor: pointer;
  width: 2rem;
  height: 6rem;
}
.sliders_container .btn_swipe_container .btn_swipe .arrow_icon_svg .cls-1 {
  transition: var(--T-F);
  fill: var(--FC);
}
.sliders_container .btn_swipe_container:hover .btn_swipe .arrow_icon_svg .cls-1 {
  fill: var(--SC);
}
.sliders_container .btn_swipe_container_left {
  left: 0;
}
.sliders_container .btn_swipe_container_right {
  right: 0;
}

.skills_section .skills_icons_container .icon_container {
  height: 8rem;
  width: 8rem;
}

.services_container {
  position: relative;
}

.clients_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients_section .clients_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.clients_section .clients_container .client_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 8rem;
  width: 12.5rem;
  filter: grayscale(1);
  transition: all 0.5s ease;
}
.clients_section .clients_container .client_logo_container .client_icon_svg {
  width: 100%;
  height: auto;
}
.clients_section .clients_container .client_logo_container:hover,
.clients_section .clients_container .client_logo_container :focus,
.clients_section .clients_container .client_logo_container :active {
  position: relative;
  filter: grayscale(0);
  animation: zoom 1000ms ease-out;
}

.about_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* .bg_section {
      background: linear-gradient(var(--bgC_UT), var(--bgC) 75%), url("https://images.pexels.com/photos/7130470/pexels-photo-7130470.jpeg") center no-repeat;
  } */
}
.about_section .header_section {
  padding: 0 2rem;
}
.about_section .about_salute {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}
.about_section .about_salute .title_salute {
  font-size: var(--FS_XL);
  color: var(--SC);
  margin: 0;
}
.about_section .about_salute .title_name {
  font-size: var(--FS_XL);
  margin-top: -1rem;
  line-height: calc(var(--FS) + var(--FS) * 6);
  color: var(--FC);
}
.about_section .about_salute .title_effect {
  animation: blink 500ms 0s infinite alternate;
  color: var(--SC);
}
.about_section .about_text_animation_container {
  color: var(--TC);
  margin-top: 1rem;
}
.about_section .about_text_animation_container H2 {
  opacity: 0;
  font-size: var(--FS_X);
  animation: textAnimation 2500ms linear 1;
  transition: var(--T_M);
}
.about_section .accent_text {
  color: var(--FC);
}

.bg_section {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--FS_NVH);
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  z-index: -1;
}

.nav_menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--NVH);
  background: var(--NVC_T);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu .menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_menu .menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  color: var(--TC);
}
.nav_menu .menu_btn .btn_construction {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.nav_menu .menu_btn .btn_construction .bar {
  position: absolute;
  height: 4px;
  background: var(--FC);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--T_M);
  border-radius: 0.25rem;
}
.nav_menu .menu_btn .btn_construction .top_bar {
  top: 0.5rem;
}
.nav_menu .menu_btn .btn_construction .bottom_bar {
  bottom: 0.5rem;
}
.nav_menu .menu_btn .btn_construction .center_bar {
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav_menu .menu_btn .btn_construction .bottom_bar,
.nav_menu .menu_btn .btn_construction .top_bar {
  width: 4rem;
}
.nav_menu .menu_btn .btn_construction .center_bar {
  width: 6rem;
}
.nav_menu .menu_btn:hover .bottom_bar,
.nav_menu .menu_btn:hover .top_bar,
.nav_menu .menu_btn:hover .center_bar {
  width: 3rem;
}
.nav_menu .icon_container:not(.logo_btn) {
  width: 3.5rem;
}
.nav_menu .icon_container:not(.logo_btn) .icon_svg {
  fill: var(--TC);
}
.nav_menu .nav_menu_controler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav_menu .nav_menu_controler .btn_container,
.nav_menu .nav_menu_controler .nav_menu_link_btns,
.nav_menu .nav_menu_controler .nav_menu_icon_svg {
  width: auto;
  height: 100%;
}
.nav_menu .nav_menu_controler .nav_menu_link_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_menu .nav_menu_controler .nav_btn {
  height: 100%;
  padding: 0 1rem;
}
.nav_menu .nav_menu_controler .theme_btn .icon_svg {
  fill: var(--FC);
}
.nav_menu .nav_menu_controler .theme_btn:hover .icon_svg {
  fill: var(--TC_C);
}

.phone_menu_controler {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  height: auto;
  width: 100%;
  background: var(--NVC);
  z-index: 6;
  transition: var(--T_M);
  overflow: hidden;
}
.phone_menu_controler .btn_container,
.phone_menu_controler .extra_btns_container,
.phone_menu_controler .social_btns_container {
  width: 100%;
}
.phone_menu_controler .nav_menu_link_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.phone_menu_controler .nav_menu_link_btns .phone_menu_btn {
  height: 4rem;
}
.phone_menu_controler .extra_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phone_menu_controler .social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}
.phone_menu_controler .social_btns_container .phone_menu_btn {
  height: 100%;
  padding: 0.75rem;
}
.phone_menu_controler .social_btns_container .phone_menu_btn:hover .icon_social_container .icon_svg {
  fill: var(--TC);
}
.phone_menu_controler .close_btn {
  position: relative;
  padding: 0.25rem;
}
.phone_menu_controler .extra_btn:hover {
  background: var(--FC_H);
}

.menu_social_container {
  position: fixed;
  bottom: 4rem;
  left: 2rem;
  min-height: 4rem;
  z-index: 4;
  /* overflow: hidden; */
}
.menu_social_container .menu_social_btns_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  height: auto;
  opacity: 0;
  transition: var(--T_F);
  margin: 1.5rem 0;
  gap: 1rem;
  background: var(--NVC_T);
  border-radius: 1rem;
}
.menu_social_container .icon_svg {
  fill: var(--FC);
}
.menu_social_container .social_menu_btn {
  background: var(--NVC_T);
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.menu_social_container .social_menu_btn .icon_container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.menu_social_container .social_menu_btn:hover .icon_container {
  background: var(--FC);
}
.menu_social_container .social_menu_btn:hover .icon_container .icon_svg .cls-2,
.menu_social_container .social_menu_btn:hover .icon_container .icon_svg .cls-1 {
  fill: var(--TC_C);
}

.btns_container,
.btn_container {
  padding-top: 1rem;
}

.flex {
  display: flex;
}

.flex_responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.subtitle_section {
  margin-bottom: 1rem;
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 2rem 0 2rem;
  -webkit-text-stroke: 1px var(--FC);
  color: transparent;
  font-size: var(--FS_X);
}

.title_subsection {
  margin-bottom: 1rem;
}

.impulso_icon_svg .cls-1 {
  fill: #c01918;
}
.impulso_icon_svg .cls-2 {
  fill: var(--TC);
}

.verona_icon_svg .cls-1 {
  fill: hsl(53, 84%, 38%);
}
.verona_icon_svg .cls-2 {
  fill: var(--TC);
}
.verona_icon_svg .cls-3 {
  fill: hsl(357, 91%, 45%);
}
.verona_icon_svg .cls-4 {
  fill: #ffffff;
}

.gorgona_icon_svg .cls-1,
.gorgona_icon_svg .cls-2 {
  fill: hsl(32, 55%, 66%);
}
.gorgona_icon_svg .cls-2 {
  fill-rule: evenodd;
}

.bucefalos_icon_svg .cls-1 {
  fill: var(--TC);
}
.bucefalos_icon_svg .cls-2 {
  fill: #b77e0b;
}

.krazy_icon_svg .cls-1 {
  fill: #e10b17;
}
.krazy_icon_svg .cls-2 {
  fill: #fff;
}
.krazy_icon_svg .cls-3 {
  fill: #000;
}
.krazy_icon_svg .cls-4 {
  fill: var(--TC);
}

.camaleonica_icon_svg {
  height: 100%;
  width: auto;
}
.camaleonica_icon_svg .cls-1 {
  fill: #633188;
}
.camaleonica_icon_svg .cls-2 {
  fill: #d1709b;
}
.camaleonica_icon_svg .cls-3 {
  fill: #f3a7c6;
}
.camaleonica_icon_svg .cls-4 {
  fill: #6ec6d8;
}
.camaleonica_icon_svg .cls-5 {
  fill: #fff;
}
.camaleonica_icon_svg .cls-6 {
  fill: #000001;
}

.leiru_icon_svg .polygon {
  fill: hsl(134, 74%, 36%);
}
.leiru_icon_svg .text .cls-2 {
  fill: #fff;
}

.hermed_icon_svg .cls-1,
.hermed_icon_svg .cls-8 {
  fill: #f1c4dc;
}
.hermed_icon_svg .cls-1,
.hermed_icon_svg .cls-11 {
  stroke: #996884;
}
.hermed_icon_svg .cls-1,
.hermed_icon_svg .cls-11,
.hermed_icon_svg .cls-14,
.hermed_icon_svg .cls-15,
.hermed_icon_svg .cls-19,
.hermed_icon_svg .cls-3,
.hermed_icon_svg .cls-6,
.hermed_icon_svg .cls-9 {
  stroke-miterlimit: 10;
}
.hermed_icon_svg .cls-1,
.hermed_icon_svg .cls-11,
.hermed_icon_svg .cls-14,
.hermed_icon_svg .cls-15,
.hermed_icon_svg .cls-3,
.hermed_icon_svg .cls-6,
.hermed_icon_svg .cls-9 {
  stroke-width: 0.05px;
}
.hermed_icon_svg .cls-2 {
  fill: #e6cd00;
}
.hermed_icon_svg .cls-14,
.hermed_icon_svg .cls-3 {
  fill: #eeeded;
}
.hermed_icon_svg .cls-3,
.hermed_icon_svg .cls-6 {
  stroke: #020202;
}
.hermed_icon_svg .cls-4 {
  fill: #e6b8d5;
}
.hermed_icon_svg .cls-5 {
  fill: #996884;
}
.hermed_icon_svg .cls-15,
.hermed_icon_svg .cls-6 {
  fill: #fff;
}
.hermed_icon_svg .cls-7 {
  fill: #ece3e6;
}
.hermed_icon_svg .cls-11,
.hermed_icon_svg .cls-9 {
  fill: none;
}
.hermed_icon_svg .cls-9 {
  stroke: #000;
  stroke-linecap: round;
}
.hermed_icon_svg .cls-10 {
  -webkit-clip-path: url(#clip-path);
          clip-path: url(#clip-path);
}
.hermed_icon_svg .cls-12 {
  fill: #b27aa3;
}
.hermed_icon_svg .cls-13 {
  fill: #daaac9;
}
.hermed_icon_svg .cls-14,
.hermed_icon_svg .cls-15 {
  stroke: #030304;
}
.hermed_icon_svg .cls-16 {
  fill: #885b49;
}
.hermed_icon_svg .cls-17 {
  -webkit-clip-path: url(#clip-path-2);
          clip-path: url(#clip-path-2);
}
.hermed_icon_svg .cls-18 {
  fill: #cc1976;
}
.hermed_icon_svg .cls-19 {
  fill: #cd78ac;
  stroke: #5f256b;
  stroke-width: 0.11px;
}

.illustrator_icon_svg .cls-1 {
  fill: #2c0d0e;
}
.illustrator_icon_svg .cls-2 {
  fill: #f39719;
}

.photoshop_icon_svg .cls-1 {
  fill: #132034;
}
.photoshop_icon_svg .cls-2 {
  fill: #529fd7;
}

.inDesign_icon_svg .cls-1 {
  fill: #450c21;
}
.inDesign_icon_svg .cls-2 {
  fill: #e73b68;
}

.premier_icon_svg .cls-1 {
  fill: #21244d;
}
.premier_icon_svg .cls-2 {
  fill: #9193c8;
}

.xd_icon_svg .cls-1 {
  fill: #431238;
}
.xd_icon_svg .cls-2 {
  fill: #be74ad;
}

.figma_icon_svg .cls-1 {
  fill: #2aa3d3;
}
.figma_icon_svg .cls-2 {
  fill: #2fa542;
}
.figma_icon_svg .cls-3 {
  fill: #f66;
}
.figma_icon_svg .cls-4 {
  fill: #dd3636;
}
.figma_icon_svg .cls-5 {
  fill: #9028db;
}

.animate_icon_svg .cls-1 {
  fill: #21244d;
}
.animate_icon_svg .cls-2,
.animate_icon_svg .cls-3 {
  fill: #9193c8;
}
.animate_icon_svg .cls-2 {
  fill-rule: evenodd;
}

.adobe_icon {
  transform: scale(0.8);
}

.html_icon_svg .cls-1 {
  fill: #e34d27;
}
.html_icon_svg .cls-2 {
  fill: #eb652b;
}
.html_icon_svg .cls-3 {
  fill: #fff;
}
.html_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.html_icon_svg .cls-5 {
  fill: var(--TC);
}

.css_icon_svg .cls-1 {
  fill: #2073b5;
}
.css_icon_svg .cls-2 {
  fill: #51a2d9;
}
.css_icon_svg .cls-3 {
  fill: #fff;
}
.css_icon_svg .cls-4 {
  fill: #cdcdcc;
}
.css_icon_svg .cls-5 {
  fill: var(--TC);
}

.js_icon_svg {
  transform: scale(0.7);
}
.js_icon_svg .cls-1 {
  fill: #f7df1e;
}
.js_icon_svg .cls-2 {
  fill: #000;
}

.gitHub_icon_svg:not(.social_icon_svg) .cls-1 {
  fill: var(--TC);
}
.gitHub_icon_svg:not(.social_icon_svg) .cls-2 {
  fill: var(--TC);
  fill-rule: evenodd;
}

.sass_icon_svg .cls-1 {
  fill: #cf649a;
}

.vue_icon_svg .cls-1 {
  fill: #41b883;
}
.vue_icon_svg .cls-2 {
  fill: #41b883;
}
.vue_icon_svg .cls-3 {
  fill: #35495e;
}

.node_icon_svg .cls-1 {
  fill: #689f63;
}
.node_icon_svg .cls-2,
.node_icon_svg .cls-4 {
  fill: #689f63;
}
.node_icon_svg .cls-3 {
  fill: var(--vueIconText);
}
.node_icon_svg .cls-3,
.node_icon_svg .cls-4 {
  fill-rule: evenodd;
}

.wa_icon_svg,
.fb_icon_svg,
.behance_icon_svg,
.contact_icon_svg {
  height: auto;
  width: 100%;
}
.wa_icon_svg .cls-1,
.fb_icon_svg .cls-1,
.behance_icon_svg .cls-1,
.contact_icon_svg .cls-1 {
  fill: var(--FC);
}

.gitHub_icon_svg {
  transform: scale(0.85);
}

.contact_icon_svg {
  transform: scale(0.8);
}

.fb_icon_svg {
  transform: scale(0.75);
}

.accessibility_btn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: var(--FC);
  color: var(--TC_C);
  font-size: var(--FS_L);
  padding: 1rem;
  transition: var(--T_M);
  translate: 0 -100%;
  z-index: 999;
}

.accessibility_btn:focus {
  translate: 0;
}

.loader_container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loader_container .spinner_container {
  transition: var(--T_S);
}
.loader_container .spinner_container .loading_spinner {
  display: inline-block;
  border-radius: 50%;
  border-bottom: dotted 0.5rem var(--FC);
  width: 5rem;
  height: 5rem;
  animation: spin 2s ease infinite forwards;
}
.loader_container .spinner_container .loading_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: var(--FW-N);
  font-size: 1.5rem;
}

.input_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem 0.5rem;
  background: linear-gradient(45deg, var(--FC), var(--SC));
  color: var(--TC_C);
  text-align: center;
  transition: var(--T_F);
  border-radius: 2rem;
  min-height: 4rem;
}
.btn .label_btn {
  font-weight: var(--FW_N);
  font-size: var(--FS_N);
}
.btn:hover, .btn:active, .btn:focus {
  filter: hue-rotate(45deg);
  color: var(--TC_C);
}

.more_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: var(--FW_B);
  font-size: var(--FS_N);
}

.label_btn {
  font-size: var(--FS_N);
  font-weight: var(--FW_N);
  display: block;
}

.close_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  fill: var(--FC);
}
.close_btn:hover {
  background: var(--FC);
  fill: var(--TC_C);
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: auto;
}
.icon_container .icon_svg {
  fill: var(--FC);
}

.social_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.max_width {
  min-width: 300px;
  width: 1600px;
  max-width: 90%;
  /* width: clamp(300px, 800px, 1600px); */
}

.nav_btn {
  height: 100%;
  color: var(--TC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_btn .icon_svg {
  height: 100%;
  width: auto;
}
.nav_btn:hover {
  background: var(--FC_H);
  color: var(--TC_C);
}
.nav_btn:hover .icon_container .icon_svg {
  fill: var(--TC_C);
}

.extra_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--TC);
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.extra_btn .icon_container {
  padding: 1rem;
  width: 4rem;
}
.extra_btn:hover {
  background: var(--FC);
  fill: var(--TC_C);
}
.extra_btn:hover .icon_container .icon_svg {
  fill: var(--TC_C);
}

.phone_menu_btn {
  width: 100%;
  font-size: var(--FS_N);
  color: var(--TC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_menu_btn .icon_social_container {
  height: 100%;
  width: auto;
  padding: 0.5rem;
}
.phone_menu_btn .icon_social_container .icon_svg {
  width: auto;
  height: 100%;
}
.phone_menu_btn .icon_social_container .icon_svg .cls-1 {
  fill: var(--FC);
}
.phone_menu_btn:hover {
  background: var(--FC_H);
  color: var(--TC_C);
}
.phone_menu_btn:hover .icon_svg .cls-2,
.phone_menu_btn:hover .icon_svg .cls-1 {
  fill: var(--TC_C);
}

.logo_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  transition: var(--T_M);
  width: 7rem;
}
.logo_btn .johnK_icon_svg {
  width: auto;
  height: 100%;
}
.logo_btn .johnK_icon_svg .cls-1 {
  fill: var(--SC);
}
.logo_btn .johnK_icon_svg .cls-2 {
  fill: var(--FC);
}
.logo_btn .johnK_icon_svg .cls-3 {
  fill: var(--logoGray);
}
.logo_btn:hover, .logo_btn:focus, .logo_btn:active {
  animation: zoom 1s ease;
}

.link_btn {
  color: var(--midGray);
}
.link_btn .label_btn {
  font-size: var(--FS_S);
}

.footer_social_btn:hover {
  animation: zoom 1s ease-in-out 2 forwards;
}

.card,
.bullet_card {
  width: 100%;
  overflow: hidden;
}

.card {
  position: relative;
}
.card .bg_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  transform: scale(1);
  transition: var(--T_S);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.card .bg_card IMG {
  -o-object-position: center;
     object-position: center;
}
.card .info_card {
  color: var(--TC);
  padding: 1rem 1.5rem 2rem;
  transition: var(--T_F);
}
.card .info_card P,
.card .info_card H3,
.card .info_card H4 {
  margin: 0.5rem 0;
}
.card .btn {
  color: var(--TC_C);
}
.card .btn:visited {
  color: var(--TC_C);
}

.bullet_card {
  background: var(--NVC);
  height: 15rem;
  border-radius: 1rem;
}

.bullets_container,
.cards_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.cards_container {
  position: relative;
  min-height: 30rem;
}

.bullets_container {
  min-height: auto;
}
.bullets_container .bullet_content {
  padding: 2rem;
}
.bullets_container .bullet_content H1 {
  margin-bottom: 1rem;
}

.bullets_container {
  margin: 0 auto;
  gap: 2rem;
}

.service_card {
  background: linear-gradient(var(--bgC), transparent, var(--bgC));
  height: 20rem;
}
.service_card .info_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bgC_UT);
  width: 100%;
  height: 100%;
}
.service_card .info_card H2 {
  width: 100%;
  color: var(--TC);
  font-size: var(--FS_L);
  transition: var(--T_M);
  text-shadow: 1px 1px 5px var(--TC_C);
  opacity: 0.9;
  transform: translateY(100%);
  margin-top: 2rem;
}
.service_card .info_card P {
  padding: 1rem 1.5rem;
  transition: var(--T_M);
  font-size: var(--FS_N);
  opacity: 0;
  transform: translateY(100%);
}
.service_card IMG:not(.not) {
  width: auto;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.service_card:hover .bg_card {
  transform: scale(1.2);
}
.service_card:hover .info_card {
  background: var(--bgC_T);
}
.service_card:hover .info_card P,
.service_card:hover .info_card H2 {
  opacity: 1;
  transform: translateY(0);
}

.project_card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background: var(--FC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: var(--T_F);
  z-index: var(--zIndexStart);
}
.project_card .info_card {
  transform: scale(0);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bgM);
  opacity: 0;
  border-radius: 1rem;
}
.project_card .info_card .title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: var(--FS_L);
  color: var(--FC);
  padding: 1rem;
  line-height: 1;
}
.project_card .info_card .subtitle {
  margin-bottom: 0.5rem;
}
.project_card .info_card .icons_project_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  row-gap: 0.5rem;
  width: 100%;
  text-align: center;
}
.project_card .info_card .icons_project_container .icon_container {
  width: auto;
  height: auto;
}
.project_card .info_card .icons_project_container .tech_icon_card {
  width: auto;
  height: 4rem;
}
.project_card .info_card .margin_bottom {
  margin-bottom: 1rem;
}
.project_card .info_card .btn_container {
  padding-bottom: 2rem;
  width: 100%;
}
.project_card .info_card .btn_container .btn {
  width: 100%;
}
.project_card:hover .info_card, .project_card:focus .info_card, .project_card:active .info_card {
  opacity: 1;
  transform: scale(1);
}

.animation_up,
.card_up {
  opacity: 0;
  transform: translateY(4rem);
  transition: var(--T_M);
}

/*
//^ SWIPER LEFT CONTAINER
.animation_left {
    opacity: 0;
    transform: translateX(-50%);
    transition: var(--T-S);
}

//^ SWIPER RIGHT CONTAINER
.animation_right {
    opacity: 0;
    transform: translateX(50%);
    transition: var(--T-S);
}
*/
.drop_down_container {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-bottom: 0.5rem;
}
.drop_down_container .btn {
  border-radius: 0.5rem;
}
.drop_down_container .btn:not(.search_list_btn) {
  border: none;
}

.list_btn {
  padding: 0.5rem 3rem;
}

.search_list_btn {
  padding: 0.5rem 1rem;
}

.list_btn,
.search_list_btn {
  background: none;
  color: var(--TC);
}

.search_list_btn:hover,
.list_btn:hover,
.search_list_btn:active,
.list_btn:active,
.search_list_btn:focus,
.list_btn:focus {
  color: var(--TC_C);
  background: var(--FC_H);
}
.search_list_btn:hover .icon_svg,
.list_btn:hover .icon_svg,
.search_list_btn:active .icon_svg,
.list_btn:active .icon_svg,
.search_list_btn:focus .icon_svg,
.list_btn:focus .icon_svg {
  fill: var(--TC_C);
}

.search_list_btn {
  position: absolute;
  border: solid 1px var(--FC);
  background: none;
  min-height: 4rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_list_btn .label_btn,
.search_list_btn .icon_container {
  display: block;
}
.search_list_btn .arrow_icon {
  transform: rotate(0);
}
.search_list_btn .icon_container {
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.search_list_btn .icon_svg {
  padding: 0;
  fill: var(--FC);
}

.icon_svg {
  transition: transform 1000ms ease-in-out;
}

.list_btns_container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
  background: var(--bgM);
  overflow: hidden;
  z-index: 3;
}
.list_btns_container .list_btn {
  text-transform: uppercase;
  width: 100%;
}

.btn_active {
  background: var(--FC);
  color: var(--TC_C);
}
.btn_active .label_btn {
  color: var(--TC_C);
  animation: bounce 2s ease-in-out infinite;
}
.btn_active .icon_svg .cls-1 {
  fill: var(--TC_C);
}

@media screen and (min-width: 750px) {
  .card,
  .bullet_card {
    width: 50%;
  }
  .flex_responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .flex_img {
    flex-basis: 30%;
  }
  .flex_info {
    flex-basis: 70%;
  }
}
@media screen and (min-width: 900px) {
  /* .card,
     .bullet_card {
         width: calc(33.3% - var(--CRD_GAP));
     }
  */
  .client_logo_container {
    height: 5rem;
  }
  .flex_responsive {
    flex-direction: row;
  }
}
@media screen and (min-width: 1100px) {
  .card,
  .bullet_card {
    width: 33.3%;
  }
  /* .skills_containers {
      @include flexDirection(row, center, flex-start);
  } */
}
@media screen and (min-width: 1400px) {
  .card,
  .bullet_card {
    width: 25%;
  }
  /* .skills_containers {
      @include flexDirection(row, center, flex-start);
  } */
}