@font-face {
    font-family: "Titillium Web";
    src: url("../font/TitilliumWeb-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Titillium Web";
    src: url("../font/TitilliumWeb-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Titillium Web";
    src: url("../font/TitilliumWeb-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

:root {
    --lightGray: rgb(191, 191, 191);
    --midGray: rgb(128, 128, 128);
    --darkGray: rgb(64, 64, 64);
    --black: rgb(26, 26, 26);
    --blackOff: rgb(38, 38, 38);
    --white: rgb(245, 245, 245);
    --whiteT: rgb(245, 245, 245, 0.7);
    --whiteOff: rgb(230, 230, 230);

    --warning: rgb(218, 165, 32);
    --danger: rgb(178, 34, 34);
    --good: rgb(34, 139, 34);

    --lightRed: hsl(0, 100%, 67%);
    --bgLightRed: hsl(0, 100%, 67%, 0.075);
    --greenTeal: hsl(166, 100%, 37%);
    --bgGreenTeal: hsl(166, 100%, 37%, 0.075);

    --danger: var(--lightRed);
    --bgDanger: var(--bgLightRed);
    --good: var(--greenTeal);
    --bgGood: var(--bgGreenTeal);

    --logoGray: rgb(203, 203, 203);
    --logoPurpleL: hsl(260, 84%, 25%);
    --logoPurpleD: hsl(240, 55%, 60%);
    --logoMintL: hsl(170, 81%, 49%);
    --logoMintD: hsl(190, 100%, 40%);

    --purpleDark: hsl(260, 84%, 10%);
    --mintLigth: hsl(190, 100%, 50%);

    /*  */

    --TC: var(--black);
    --TC_C: var(--whiteOff);
    --NVC: var(--white);
    --NVC_T: rgba(242, 242, 242, 0.75);
    --bgC: var(--whiteOff);
    --bgC_T: var(--whiteT);
    --bgC_UT: rgba(242, 242, 242, 0.25);
    --bgC_C: var(--black);
    --bgC_C_T: rgba(26, 26, 26, 0.15);
    --BS_SB: rgba(0, 0, 0, 0.1);
    --bgOff: rgb(204, 204, 204);
    --bgM: rgba(230, 230, 230, 0.75);
    --vueIconText: rgb(51, 51, 51);

    /*  */

    --SM: 0.25rem;
    --MD: 0.5rem;
    --LG: 1rem;
    --XL: 2rem;

    --FS_XS: 0.8rem;
    --FS_S: var(--LG);
    --FS_N: 1.4rem;
    --FS_L: 1.8rem;
    --FS_X: 4rem;
    --FS_XL: 6rem;
    --FW_L: 200;
    --FW_N: 400;
    --FW_B: 600;

    --iconD: 4rem;
    --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
    --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
    --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
    --fontSizeXLClamp: clamp(6rem, calc(1.5rem + 3vw), 8rem);
    --T_UF: all 250ms ease-in-out;
    --T_F: all 350ms ease-in-out;
    --T_M: all 750ms ease-in-out;
    --T_S: all 1000ms ease-in-out;

    --T_SCALE: scale 500ms cubic-bezier(0.51, -0.42, 0.06, 1.45);
    --NVH_F: 6rem;
    --NVH: 8rem;
    --FS_NVH: calc(100svh - var(--NVH));
    --FS-FNVH: calc(100svh - var(--NVH_F));
    --titanimFont: "Titillium Web", sans-serif;
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--titanimFont);
    font-weight: 400;
    font-style: normal;
}
//^ ANIMATIONS
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounce {
    50% {
        transform: translateY(-20%);
    }
}
@keyframes bounceDown {
    50% {
        transform: translateY(var(--LG));
    }
}
@keyframes bounceUp {
    50% {
        transform: translateY(-10rem);
    }
}
@keyframes ballShadowOpacity {
    50% {
        opacity: 0.2;
    }
}
@keyframes beat {
    10% {
        transform: translate(-50%, -50%) scale(1.3);
    }
    25% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    35% {
        transform: translate(-50%, -50%) scale(1.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

//^ MIXINS

@mixin flex($dir, $jc, $ai) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//!THEMES START
.light_theme {
    --FC: var(--logoPurpleL);
    --SC: var(--logoMintL);
    --H: var(--purpleDark);
    --TC: rgb(26, 26, 26);
    --TC_C: rgb(230, 230, 230);
    --NVC: rgb(242, 242, 242);
    --NVC_T: rgba(242, 242, 242, 0.75);
    --bgC: rgb(230, 230, 230);
    --bgC_T: rgba(242, 242, 242, 0.75);
    --bgC_UT: rgba(242, 242, 242, 0.5);
    --bgC_C: rgb(26, 26, 26);
    --bgC_C_T: rgba(26, 26, 26, 0.15);
    --BS_SB: rgba(0, 0, 0, 0.1);
    --bgOff: rgb(204, 204, 204);
    --bgM: rgba(230, 230, 230, 0.75);
    --vueIconText: rgb(51, 51, 51);
    //~ GENERALS
    color: var(--TC);

    //~ SECTION BACKGROUNDS--START
    --backgroundHero: linear-gradient(transparent, var(--NVC)), url("../img/backgrounds/day.webp") center no-repeat fixed;
    --bgHeaderSectionAbout: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/fondoBasketquot") center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/office-932926_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgC), transparent, var(--bgC) 85%), url("../img/backgrounds/sunglasses-1284392_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionSkills: linear-gradient(var(--bgC), rgba(255, 255, 255, 0.5), var(--bgC)), url("../img/backgrounds/pexels-julia-m-cameron-4144097.jpg") center no-repeat fixed;
    --bgHeaderSectionContact: linear-gradient(var(--bgC), rgba(255, 255, 255, 0.5), var(--bgC)), url("../img/backgrounds/contact_day.webp") center no-repeat fixed;

    .leiru_icon_svg {
        .brand,
        .brand-append {
            .cls-1 {
                fill: rgb(24, 160, 56);
            }
        }
        .text {
            fill: var(--TC);
        }
    }
}
.dark_theme {
    --FC: var(--logoMintD);
    --SC: var(--logoPurpleD);
    --H: var(--mintLigth);
    --TC: rgb(230, 230, 230);
    --TC_C: rgb(26, 26, 26);
    --NVC: rgb(13, 13, 13);
    --NVC_T: rgba(13, 13, 13, 0.75);
    --bgC: rgb(26, 26, 26);
    --bgC_T: rgba(13, 13, 13, 0.75);
    --bgC_UT: rgba(13, 13, 13, 0.5);
    --bgC_C: rgb(230, 230, 230);
    --bgC_C_T: rgba(230, 230, 230, 0.15);
    --BS_SB: rgba(255, 255, 255, 0.1);
    --bgOff: rgb(51, 51, 51);
    --bgM: rgba(26, 26, 26, 0.75);
    --vueIconText: rgb(204, 204, 204);
    //¿GENERALS

    //~SECTION BACKGROUNDS
    --backgroundHero: linear-gradient(transparent, var(--NVC)), url("../img/backgrounds/night_EXIF.webp") center no-repeat fixed;
    --bgHeaderSectionAbout: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/graffiti-background-1554703550MY5.jpg") center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/pexels-ovan-57690.jpg") center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgC) 10%, transparent, var(--bgC) 90%), url("../img/backgrounds/workspace-1280538_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionSkills: linear-gradient(var(--bgC) 10%, rgba(0, 0, 0, 0.5), var(--bgC) 90%), url("../img/backgrounds/tools-1083796_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionContact: linear-gradient(var(--bgC) 10%, rgba(0, 0, 0, 0.5), var(--bgC) 90%), url("../img/backgrounds/contact_night.webp") center no-repeat fixed;

    color: var(--TC);

    .leiru_icon_svg {
        .brand,
        .brand-append {
            .cls-1 {
                fill: var(--TC);
            }
        }
    }
}

BODY {
    --btnGradient: linear-gradient(45deg, var(--FC), var(--SC));

    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    color: var(--TC);
    background: var(--bgC);
    text-rendering: optimizeSpeed;
}

:root {
    font-size: 12px;
    line-break: loose;
    line-height: 1.2;
    letter-spacing: 0.15rem;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-color: var(--FC) var(--SC);
    scrollbar-width: thin;
    &:focus-within {
        scroll-behavior: smooth;
    }
}
:focus {
    outline: 2px solid var(--FC);
}
IMG {
    display: block;
    width: 100%;
    height: 100%;
    border-style: none;
    object-fit: cover;
}
A {
    background: none;
    text-decoration: none;
}

UL {
    list-style: none;
}

INPUT[type="text"],
INPUT[type="email"],
TEXTAREA,
LABEL {
    display: block;
    width: 100%;
    height: auto;
}
INPUT[type="text"],
INPUT[type="email"],
TEXTAREA {
    border: none;
    border-radius: var(--SM);

    background: var(--bgC);
    color: var(--TC);
    font-size: var(--FS_S);
    padding: var(--LG) var(--MD);
}
TEXTAREA {
    resize: none;
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
SVG {
    width: 100%;
    height: auto;
}
H1,
H2,
H3,
H4 {
    padding: 0;
    margin: 0;
}
H1,
H2 {
    text-align: center;
    font-weight: var(--FW_B);
}
H1 {
    color: var(--FC);
    font-weight: var(--FW_B);
    font-size: var(--FS_L);
}
H2 {
    font-size: var(--FS_N);
    font-weight: var(--FW_B);
    color: var(--TC);
}
H3 {
    font-size: var(--FS_N);
    font-weight: var(--FW_B);
}
P {
    font-size: var(--FS_N);
    color: var(--TC);
    text-wrap: pretty;
}
I {
    font-style: italic;
    font-weight: 400;
}
.title_subsection {
    margin-bottom: var(--LG);
}
//^ CLIENTS LOGO COLORS
.accent_text {
    color: var(--FC);
    font-weight: var(--FW_B);
}
.desk_me {
    transition: all 1000ms ease-in-out;
    transform: translateX(100%);
}
.deskwork_icon {
    .cls-1 {
        fill: #7c7c7c;
    }

    .cls-2 {
        fill: #999;
    }

    .cls-3 {
        fill: #280a54;
    }

    .cls-4 {
        fill: #c99;
    }

    .cls-5 {
        fill: #4d4d4d;
    }

    .cls-6 {
        fill: #666;
    }

    .cls-7 {
        fill: #fcc;
    }

    .cls-8 {
        fill: #d4643e;
    }

    .cls-9 {
        fill: #7dd189;
    }

    .cls-10,
    .cls-23,
    .cls-59 {
        fill: var(--SC);
    }

    .cls-10,
    .cls-31,
    .cls-42,
    .cls-49,
    .cls-51,
    .cls-52,
    .cls-55,
    .cls-66,
    .cls-68 {
        opacity: 0.5;
    }

    .cls-11,
    .cls-14,
    .cls-35,
    .cls-59 {
        opacity: 0.4;
    }

    .cls-11,
    .cls-42 {
        fill: #ea82f9;
    }

    .cls-12 {
        fill: #6ec6d8;
    }

    .cls-13 {
        fill: #339;
    }

    .cls-15 {
        fill: #633;
    }

    .cls-16,
    .cls-49 {
        fill: #f79b16;
    }

    .cls-17 {
        fill: #e6e6e6;
    }

    .cls-18 {
        fill: #c60;
    }

    .cls-69 {
        stroke: #e42320;
        stroke-width: 4.28px;
    }

    .cls-69,
    .cls-70,
    .cls-71 {
        stroke-miterlimit: 10;
    }

    .cls-69,
    .cls-71 {
        fill: none;
    }

    .cls-20 {
        fill: #909799;
    }

    .cls-21 {
        fill: #e42320;
    }

    .cls-22 {
        fill: #930;
    }

    .cls-24 {
        fill: #2b2827;
    }

    .cls-25 {
        fill: #600e0e;
    }

    .cls-26 {
        fill: #9b4ee5;
    }

    .cls-27 {
        fill: #1f3c90;
    }

    .cls-28 {
        opacity: 0.2;
    }

    .cls-29,
    .cls-35,
    .cls-66 {
        fill: #38166d;
    }

    .cls-30 {
        fill: var(--TC);
    }

    .cls-31,
    .cls-41 {
        fill: var(--FC);
    }

    .cls-32 {
        fill: #333;
    }

    .cls-33 {
        fill: #732a14;
    }

    .cls-34 {
        fill: #ccc;
    }

    .cls-36,
    .cls-70 {
        fill: #494949;
    }

    .cls-37 {
        fill: #85edb9;
    }

    .cls-38 {
        fill: #fff;
    }

    .cls-72 {
        opacity: 0.75;
    }

    .cls-39 {
        fill: #963;
    }

    .cls-40 {
        fill: #c49d65;
    }

    .cls-43 {
        fill: #cccbcb;
    }

    .cls-44 {
        fill: #dbb579;
    }

    .cls-45 {
        fill: #0b1138;
        opacity: 0.6;
    }

    .cls-46 {
        fill: #336;
    }

    .cls-47 {
        fill: #5a5b5a;
    }

    .cls-48 {
        fill: #d3cd31;
    }

    .cls-50 {
        fill: var(--logoGray);
    }

    .cls-52 {
        fill: #aae8f9;
    }

    .cls-53 {
        fill: #93d6e5;
    }

    .cls-54 {
        fill: #222223;
    }

    .cls-55 {
        fill: #e5c528;
    }

    .cls-56 {
        fill: #d2dbda;
    }

    .cls-57 {
        fill: #b3d4e5;
    }

    .cls-58 {
        fill: #b74e29;
        opacity: 0.85;
    }

    .cls-70 {
        stroke: #fff;
        stroke-width: 0.25px;
    }

    .cls-71 {
        stroke: #280a54;
        stroke-linecap: round;
    }

    .cls-60 {
        fill: #838483;
    }

    .cls-61 {
        fill: #7c5e48;
    }

    .cls-62 {
        fill: #eaeaea;
    }

    .cls-63 {
        fill: #9cf;
    }

    .cls-64 {
        fill: #cecece;
    }

    .cls-65 {
        fill: #f2f2f2;
    }

    .cls-67 {
        fill: #322a84;
    }

    .cls-68 {
        fill: #94edad;
    }
    .desk_tablet_screen {
        fill: #9cf;
    }
    .watch_time {
        fill: var(--logoPurpleD);
    }
    .cls-txt {
        fill: var(--TC);
    }
    .cls-mid {
        fill: var(--midGray);
    }
    .watch_mer {
        opacity: 0;
        transition: var(--T_M);
    }
    .icon_animation {
        opacity: 0;
        transform: translateY(4rem);
        transition: var(--T_M);
    }
    .screen_animation,
    .screen_tablet_animation {
        opacity: 0;
        transition: var(--T_M);
    }
    .dev_screen {
        transition-delay: 500ms;
    }
    .icon_show {
        opacity: 0.7;
        transform: translateY(0);
    }

    .screen_show {
        opacity: 1;
    }
    .desk_portfolio,
    .desk_ball {
        transition: var(--T_M);
    }

    .desk_portfolio:hover {
        transform: translateX(-10rem);
    }
    .desk_ball {
        margin-top: 10rem;
    }
    .desk_ball:hover {
        .ball {
            animation: bounceUp 1000ms 250ms infinite ease-in-out;
        }
        .ball_shadow {
            animation: ballShadowOpacity 1000ms 250ms infinite ease-in-out;
        }
    }
    .svg_btn {
        cursor: crosshair;
    }
}
.dark_theme {
    .watch_pm {
        display: none;
        opacity: 0;
    }
    .watch_am {
        display: block;
        opacity: 1;
    }
}
.light_theme {
    .watch_am {
        display: none;
        opacity: 0;
    }
    .watch_pm {
        display: block;
        opacity: 1;
    }
}
.desk_icon_container {
    position: relative;
    width: 100%;
    height: auto;
}
.pallet_icon {
    scale: 0.75;
    .cls-1 {
        fill: var(--bgC_C);
    }
    .cls-2 {
        fill: var(--SC);
    }
    .cls-3 {
        fill: #fafafa;
    }
    .cls-4 {
        fill: #f74f80;
    }
    .cls-5 {
        fill: #74d800;
    }
    .cls-6 {
        fill: #00cde2;
    }
}
//^^DESIGN ICONS COLORS
.illustrator_icon_svg {
    .cls-1 {
        fill: #2c0d0e;
    }
    .cls-2 {
        fill: #f39719;
    }
}
.photoshop_icon_svg {
    .cls-1 {
        fill: #132034;
    }
    .cls-2 {
        fill: #529fd7;
    }
}
.inDesign_icon_svg {
    .cls-2 {
        fill: #441023;
    }
    .cls-1 {
        fill: #e73b69;
    }
}
.after_icon_svg {
    .cls-1 {
        fill: #9193c9;
    }

    .cls-1,
    .cls-2 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: #20264d;
    }
}
.premier_icon_svg {
    .cls-1 {
        fill: #21244d;
    }
    .cls-2 {
        fill: #9193c8;
    }
}
.xd_icon_svg {
    .cls-1 {
        fill: #431238;
    }
    .cls-2 {
        fill: #be74ad;
    }
}
.figma_icon_svg {
    .cls-1 {
        fill: #2aa3d3;
    }
    .cls-2 {
        fill: #2fa542;
    }
    .cls-3 {
        fill: #f66;
    }
    .cls-4 {
        fill: #dd3636;
    }
    .cls-5 {
        fill: #9028db;
    }
}
.animate_icon_svg {
    .cls-1 {
        fill: #21244d;
    }
    .cls-2,
    .cls-3 {
        fill: #9193c8;
    }
    .cls-2 {
        fill-rule: evenodd;
    }
}
.adobe_icon {
    transform: scale(0.8);
}
//^^TECH ICONS COLORS--START
.html_icon_svg {
    .cls-1 {
        fill: #e34d27;
    }
    .cls-2 {
        fill: #eb652b;
    }
    .cls-3 {
        fill: #fff;
    }
    .cls-4 {
        fill: #cdcdcc;
    }
    .cls-5 {
        fill: var(--TC);
    }
}
.css_icon_svg {
    .cls-1 {
        fill: #2073b5;
    }
    .cls-2 {
        fill: #51a2d9;
    }
    .cls-3 {
        fill: #fff;
    }
    .cls-4 {
        fill: #cdcdcc;
    }
    .cls-5 {
        fill: var(--TC);
    }
}
.js_icon_svg {
    scale: 0.75;
    .cls-1 {
        fill: #f7df1e;
    }
    .cls-2 {
        fill: #000;
    }
}
.gitHub_icon_svg:not(.social_icon_svg) {
    .cls-1 {
        fill: var(--TC);
    }
    .cls-2 {
        fill: var(--TC);
        fill-rule: evenodd;
    }
}
.sass_icon_svg {
    .cls-1 {
        fill: #cf649a;
    }
}
.vue_icon_svg {
    .cls-1 {
        fill: #41b883;
    }
    .cls-2 {
        fill: #41b883;
    }
    .cls-3 {
        fill: #35495e;
    }
}
.node_icon_svg {
    .cls-1 {
        fill: #539e43;
    }
}
.react_icon_svg {
    .cls-1 {
        fill: #61dafb;
        stroke-width: 0px;
    }
}
.vue_icon_svg {
    scale: 0.8;
    .cls-1 {
        fill: #35495e;
    }
    .cls-2 {
        fill: #41b883;
    }
}
.python_icon_svg {
    scale: 0.8;
    .cls-1 {
        fill: #366a96;
    }
    .cls-2 {
        fill: #ffc836;
    }
    .cls-3 {
        fill: #fff;
    }
}
//^^TECH ICONS COLORS--OVER
//^^SOCIAL ICONS COLORS-- START
/* .wa_icon_svg,
.fb_icon_svg,
.behance_icon_svg,
.contact_icon_svg {
    height: auto;
    width: 100%;
} */
.gitHub_icon_svg {
    transform: scale(0.85);
}
.contact_icon_svg {
    transform: scale(0.8);
}
.fb_icon_svg {
    transform: scale(0.75);
}
.label_btn {
    /* font-family: var(--titanimFont); */
    font-size: var(--FS_N);
    font-weight: var(--FW_N);
    display: block;
    line-height: 1;
    font-weight: 600;
}
.separator {
    display: block;
    background: var(--FC);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.accent_color {
    color: var(--SC);
    fill: var(--SC);
}
.accessibility_btn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: var(--FC);
    color: var(--TC_C);
    font-size: var(--FS_L);
    padding: var(--LG);
    transition: var(--T_F);
    translate: 0 -100%;
    z-index: 999;
}
.accessibility_btn:focus {
    translate: 0;
}
.icon_container {
    overflow: hidden;
    width: var(--iconD);
    height: var(--iconD);
    padding: var(--LG);

    @include flexCenter();
    user-select: none;
    fill: var(--FC);
}
.icon_container:not(.logo_btn),
.phone_social_btn {
    border-radius: var(--LG);
}
.bubble {
    @include flexCenter();
    flex-direction: column;
    position: absolute;
    background: var(--NVC);
    border-radius: var(--MD);
    z-index: 2;
    display: none;
    transition: var(--T_UF);
    user-select: none;
    max-width: 250px;
    width: 100%;
    .header_bubble {
        height: 6rem;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info {
        @include flex(column, center, flex-start);
        gap: var(--SM);
        padding: var(--LG);
        SPAN {
            display: block;
            text-align: left;
        }
    }
    .description {
        font-size: var(--T_M);
        text-wrap: balance;
    }
    .title {
        color: var(--TC);
    }
    .image {
        height: auto;
    }
    .photo {
        position: absolute;
        top: var(--XL);
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        object-position: center;
        object-fit: cover;
    }
    .name {
        color: var(--FC);
        font-size: var(--FS_L);
        text-align: center;
    }
    .skill,
    .place {
        font-size: var(--FS_N);
        line-height: 1;
        text-align: center;
        @include flexCenter();
        color: var(--TC);
        width: 100%;
    }
}
.rex_bubble,
.bio_bubble {
    top: 0;
    left: 0;
    overflow: hidden;
    .info {
        margin-top: var(--LG);
    }
}
.rex_bubble {
    .header_bubble {
        background: url(../img/backgrounds/parkSmall.webp);
    }
}
.bio_bubble {
    .header_bubble {
        background: url(../img/backgrounds/graffitiSmall.webp);
    }
}
.info_bubble {
    padding: var(--LG);
    gap: var(--MD);
    .description {
        line-height: 1var (--XL);
        text-align: center;
    }
}
.btn {
    @include flexCenter();
    min-height: var(--iconD);
    width: 100%;
    color: var(--TC_C);
    outline: solid 2px var(--FC);
    border-radius: var(--XL);
    text-align: center;
    padding: var(--LG) var(--MD);
    cursor: pointer;
    transition: var(--T_F);
    .label_btn {
        transition: var(--T_F);
        color: var(--TC);
        font-weight: var(--FW_B);
    }
    &:hover,
    &:active,
    &:focus {
        background: var(--btnGradient);
        outline-color: transparent;
        .label_btn {
            color: var(--whiteOff);
        }
    }
}

.btn_down {
    @include flexCenter();
    flex-direction: column;
    width: 8rem;
    height: 6rem;
    color: var(--TC);
    margin-top: 4rem;
    .arrow_down_svg {
        margin-top: var(--LG);
        width: var(--XL);
        animation: bounceDown 1s ease infinite;
        transition: var(--T_F);
    }
    &:hover .arrow_down_svg {
        fill: var(--FC);
    }
}
.close_btn {
    .close_icon_svg {
        transition: rotate 500ms ease-in-out;
    }

    &:hover {
        background: var(--FC);
        fill: var(--TC_C);
        .close_icon_svg {
            rotate: 360deg;
        }
    }
}

.nav_btn:not(.phone_lang_btn) {
    height: 100%;
}
.nav_btn {
    color: var(--TC);
    .label_btn {
        width: fit-content;
    }
    .icon_btn {
        display: none;
    }
    .icon_container {
        padding: var(--MD);
    }
    @include flexCenter();
    .icon_svg {
        height: 100%;
        width: auto;
    }
    &:hover {
        background: var(--H);
        color: var(--TC_C);
        .icon_container {
            fill: var(--TC_C) !important;
        }
    }
}
.extra_btn {
    @include flexCenter();
    fill: var(--TC);
    &:hover {
        background: var(--FC);
        fill: var(--TC_C);
        .icon_container {
            fill: var(--TC_C);
        }
    }
}
.more_btn {
    color: var(--TC);
    font-weight: var(--FW_B);
    font-size: var(--FS_N);
    &:hover {
        color: var(--whiteOff);
    }
}
.link_btn {
    color: var(--midGray);
    .label_btn {
        font-size: var(--FS_N);
        font-weight: var(--FW_L);
    }
}
.close_control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.phone_menu_btn {
    width: 100%;
    font-size: var(--FS_N);
    color: var(--TC);
    @include flexCenter();
    .icon_container {
        fill: var(--FC);
    }
    &:hover {
        .icon_container {
            fill: var(--TC_C);
        }
    }
    &:hover:not(.extra_btn) {
        background: var(--H);
        color: var(--TC_C);
    }
}
.bar {
    position: absolute;
    height: 2px;
    background: var(--FC);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--T_M);
    border-radius: var(--SM);
}
.top_bar {
    top: var(--MD);
}
.bottom_bar {
    bottom: var(--MD);
}
.center_bar {
    top: 50%;
    transform: translate(-50%, -50%);
}
.bottom_bar,
.top_bar {
    width: var(--iconD);
}
.center_bar {
    width: 6rem;
}
.btn_construction {
    position: relative;
    width: 3rem;
    height: 3rem;
}
.menu_btn {
    @include flexCenter();
    width: auto;
    height: 100%;
    color: var(--TC);
    margin-right: 3rem;

    &:hover {
        .bottom_bar,
        .top_bar,
        .center_bar {
            width: 3rem;
        }
    }
}
.logo_btn {
    overflow: visible;
    @include flex(row, flex-start, center);
    padding: 0 var(--MD);
    width: fit-content;
    scale: 1;
    transition: var(--T_SCALE), height 500ms ease;
    //*LOGO COLORS START
    .johnK_full,
    .johnK_icon {
        width: auto;
        height: 100%;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 500ms linear;

        .braket {
            fill: var(--logoGray);
        }
        .letter {
            fill: var(--FC);
        }
        .dot {
            fill: var(--SC);
        }
    }
    .johnK_icon {
        display: none;
    }

    //*LOGO LOGO OVER

    &:hover,
    &:focus,
    &:active {
        scale: 1.2;
    }

    .remove {
        display: none;
    }
    .add {
        display: block;
    }
    .show_logo {
        opacity: 1;
        transform: translateY(0);
    }
}
.bullet {
    background: var(--bgC_T);
    width: calc(100% - var(--iconD));
    padding: var(--XL);
    H1 {
        margin-bottom: var(--LG);
    }
}
.flex {
    display: flex;
}
.flex_responsive {
    @include flex(column, flex-start, center);
    gap: var(--XL);
}
.subtitle_section {
    margin: var(--XL) 0 var(--LG);
    font-size: var(--FS_L);
}
.title_section {
    @include flexCenter();
    width: 100%;
    height: auto;
    -webkit-text-stroke: 1px var(--FC);
    color: transparent;
    font-size: var(--FS_X);
}

.animated_social_btn {
    transition: var(--T_SCALE);
    &:hover {
        scale: 1.2;
    }
}
.social_btns_container {
    @include flex(row, space-between, center);
}
.card {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
    .bg_card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30rem;
        transform: scale(1);
        transition: var(--T_M);
        @include flex(row, center, center);
        z-index: -1;
        IMG {
            object-position: center;
        }
    }
    .info_container {
        color: var(--TC);
        padding: var(--LG) 1.5rem var(--XL);
        transition: var(--T_S);
        P,
        H3,
        H4 {
            margin: var(--MD) 0;
        }
    }
}

.service_card {
    .info_card {
        transition: all 500ms ease-in-out;
        @include flexCenter();
        flex-direction: column;
        background: var(--bgC_UT);
        width: 100%;
        height: 100%;
        H2 {
            width: 100%;
            text-align: center;
            color: var(--TC);
            font-size: var(--fontSizeMClamp);
            transition: var(--T_M);
            opacity: 0.9;
            padding: var(--XL) 0;
        }
        P {
            padding: var(--LG) 1.5rem;
            transition: var(--T_M);
            opacity: 0;
            transform: translateY(100%);
        }
    }

    &:hover .bg_card {
        transform: scale(1.2);
    }
    &:hover {
        .info_card {
            background: var(--bgC_T);
        }
        .info_card P,
        .info_card H2 {
            opacity: 1;
            transform: translateY(0);
        }
        .info_card H2 {
            padding: 0;
            background: transparent;
            color: var(--TC);
        }
    }
}
.project_card {
    position: relative;
    transition: var(--T_F);
    z-index: var(--zIndexStart);
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: var(--SM);
    .img_card {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .info_project_container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include flexCenter();
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: var(--XL);
        transition: var(--T_F);
        background: var(--bgM);
        transform: translateY(100%);
        opacity: 0;
        .title {
            width: 100%;
            text-align: center;
            font-size: var(--FS_L);
            color: var(--FC);
            margin-bottom: var(--MD);
            line-height: 1;
        }
        .subtitle {
            width: 100%;
            text-align: center;
            font-size: var(--FS_N);
        }
        .icons_project_container {
            @include flexCenter();
            flex-wrap: wrap;
            gap: var(--SM);
            width: 100%;
            text-align: center;
            .tech_icon_card {
                width: auto;
                height: 100%;
                .cls-5 {
                    fill: var(--TC);
                }
            }
        }
        .margin_bottom {
            margin-bottom: var(--LG);
        }
    }
    &:hover .info_project_container,
    &:active .info_project_container,
    &:focus .info_project_container {
        transform: translateY(0);
        opacity: 1;
    }
}

.content {
    min-width: 250px;
    width: 1400px;
    max-width: 90%;
    padding: 4rem 0;
}
.btns_container {
    @include flexCenter();
    padding-top: var(--LG);
}
.input_container {
    width: 100%;
    height: fit-content;
    margin-bottom: var(--LG);
}
.cards_container {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
}
.cards_service_container {
    display: grid;
    grid-column: subgrid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 8fr));
    gap: 0;
    min-height: auto;
    padding: var(--XL) 0;
    .service_card {
        grid-column: span 2;
    }
}
.cards_presentation {
    width: 100%;
    @include flex(row, space-between, center);
    border-bottom: solid 2px var(--FC);
    padding: var(--XL) 0 var(--LG);
    margin-bottom: var(--LG);
    .subtitle_section {
        margin: 0;
    }
    .portfolio_btn {
        width: fit-content;
        font-size: var(--FS_L);
        color: var(--midGray);
    }
}

.cards_portfolio_container {
    overflow-y: auto;
    padding-top: var(--MD);
}
.lists_container {
    @include flex(row, flex-start, flex-start);
    /* flex-wrap: wrap; */
    width: 100%;
    .btn {
        min-height: fit-content;
    }
}
.description_portfolio {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    gap: var(--LG);
    height: 5rem;
    width: fit-content;
    padding: var(--LG);
    SPAN {
        display: block;
        font-size: var(--fontSizeMClamp);
    }
}
.list_btns_container {
    position: relative;
    min-width: auto;
    max-width: 100%;

    .list_btn {
        display: block;
        min-width: auto;
        width: 100%;
        background: var(--bgM);
        border: none;
        border-radius: var(--SM);
        text-transform: uppercase;
        padding: var(--MD) 3rem;
        .label_btn {
            color: var(--TC);
            pointer-events: none;
            line-height: 1;
        }

        &:hover,
        &:active,
        &:focus {
            filter: hue-rotate(45deg);
            .label_btn {
                color: var(--whiteOff);
            }
        }
    }
    .list_btn:hover,
    .list_btn:active,
    .list_btn:focus {
        color: var(--TC_C);
        background: var(--btnGradient);
        fill: var(--TC_C);
    }
    .search_list_btn {
        text-transform: uppercase;
        @include flexCenter();
        gap: var(--MD);
        background: var(--bgM);
        border-radius: 0;
        border-bottom: solid 2px var(--FC);
        min-height: fit-content;
        padding: var(--MD) var(--LG);
        .label_btn {
            color: var(--TC);
            pointer-events: none;
            line-height: 1;
        }
        .icon_container {
            @include flexCenter();
            height: var(--XL);
            width: var(--XL);
            padding: 0;
        }
    }

    .list_container {
        position: absolute;
        @include flex(column, flex-start, center);
        transition: var(--T_UF);
        display: none;
        bottom: 0;
        left: 0;
        width: auto;
        background: var(--NVC_T);
        transform: translateY(100%);
        z-index: 2;
    }
    .list_down {
        display: flex;
    }
    .arrow_list_icon {
        transition: rotate 500ms ease;
        rotate: -180deg;
    }
    .arrow_list_icon_active {
        fill: var(--TC);
        rotate: 0deg;
    }

    .list_btn_active {
        background: var(--btnGradient) !important;
        .label_btn {
            color: var(--whiteOff) !important;
        }
    }
    .list_extra_btns_container {
        width: 100%;
    }
}
.form {
    position: relative;
}
.form_response_container {
    position: absolute;
    top: calc(50% - 4rem);
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    transition: var(--T_F);
    padding: var(--LG);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: var(--MD);
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    .form_response {
        text-align: center;

        font-size: var(--FS_L);
    }
}
.contact_form {
    background: var(--NVC);
    padding: var(--XL);
    border-radius: var(--LG);
    .form_response_container {
        width: calc(100% - 6rem);
    }
}
.modal_window {
    position: absolute;
    @include flex(column, flex-start, flex-start);
    top: var(--XL);
    left: 50%;
    width: 90%;
    max-width: 720px;
    height: fit-content;
    transition: var(--T_M);
    transform: translate(-50%, -50%);
    border-radius: var(--LG);
    padding: var(--XL) 0 0;
    max-height: calc(100svh - 4rem);
    overflow: hidden;
    display: none;
    opacity: 0;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--NVC);
    z-index: 9;
    transition: var(--T_F);
    display: none;
    opacity: 0;

    .modal_info {
        width: 100%;
        height: fit-content;
        margin-bottom: var(--LG);
    }
    .modal_header {
        padding: var(--LG) 0;
        width: 100%;
    }
    .portfolio_modal {
        max-width: 1800px;
        min-height: 20rem;
        overflow: visible;
    }

    .alert_modal,
    .legal_modal {
        .btn {
            width: calc(100% - var(--LG));
            margin: var(--LG) VAR(--MD);
        }
    }
    .alert_modal {
        .modal_info {
            text-align: center;
        }
    }
    .legal_modal {
        .modal_info {
            overflow: auto;
            scroll-behavior: smooth;
            padding-right: var(--LG);
            border-top: solid var(--FC) 4px;
            padding: var(--LG) var(--LG) 0 0;
            .inner_link_btn {
                width: 100%;
            }
        }
    }
    .contact_modal {
        position: relative;
        .modal_form {
            width: 100%;
            .form_response_container {
                width: calc(100% - 4rem);
            }
        }
    }
    .submit_container {
        padding: var(--MD);
    }
}
.inner_link_btn {
    text-decoration: underline;
    color: var(--FC);
    &:visited {
        color: inherit;
    }
}
.icons_container {
    flex-wrap: wrap;
    @include flex(row, center, flex-start);
    gap: var(--LG);
}
.section_divider {
    width: 100%;
    background: var(--bgC_T);
    @include flexCenter();
    overflow: hidden;
    .quote_container {
        @include flexCenter();
        height: 100%;
        .quote {
            font-size: var(--fontSizeXClamp);
            color: var(--TC);
            text-align: center;
        }
        .quote:after,
        .quote:before {
            content: "";
        }
        .quote_icon {
            height: 100%;
            width: var(--iconD);
        }
        .quote_start {
            align-self: flex-start;
            transform: translateY(-var(--XL));
        }

        .quote_end {
            transform: translateY(var(--XL));
            align-self: flex-end;
        }
        .icon_container {
            fill: var(--FC);
        }
    }
    .author_container {
        margin-top: var(--XL);
        @include flex(column, flex-end, flex-end);
        SPAN {
            display: block;
            text-align: right;
        }
        .author {
            margin-bottom: var(--MD);
            i {
                font-size: var(--fontSizeMClamp);
                color: var(--SC);
                font-weight: var(--FW_B);
            }
        }
        .author_info {
            color: var(--TC);
            font-size: var(--fontSizeSClamp);
            text-transform: capitalize;
        }
        .author,
        .author_info {
            line-height: 1;
        }
    }
    .divider_content {
        padding: 20rem 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: var(--T_S);
    }

    .show_quote {
        opacity: 1;
        transform: translateX(0);
    }
}
.section_divider:nth-of-type(2n) {
    .divider_content {
        transform: translateX(100%);
    }
    .show_quote {
        opacity: 1;
        transform: translateX(0);
    }
}
.section {
    height: auto;
    @include flex(column, flex-start, center);
}
.section_content {
    @include flexCenter();
    flex-direction: column;
    min-height: calc(100vh - var(--NVH));
    min-height: var(--FS_NVH);
}
.with_bg {
    position: relative;

    justify-content: center;
    margin-bottom: 0;
}
.bg_section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;
}
.hero_section {
    view-timeline: --scroll;
    .bg_section {
        background: var(--backgroundHero);
    }

    .title_container {
        H2 {
            color: var(--TC);
            font-size: var(--fontSizeMClamp);
            text-align: right;
            margin-top: var(--LG);
        }
        H1 {
            color: var(--TC);
            font-size: var(--fontSizeXLClamp);
            line-height: 6rem;
            text-align: right;
        }
    }
    .btns_container {
        justify-content: space-between;
        width: 100%;
        max-width: 35rem;
        gap: var(--XL);
        .btn {
            max-width: 15rem;
            min-width: 10rem;
            padding: var(--LG) var(--XL);
        }
    }
    .content {
        padding: 0;
    }
}
.about_section {
    position: relative;
    @include flex(column, flex-start, center);
    width: 100%;
    .section_content {
        position: relative;
    }

    .about_salute {
        width: 100%;
        height: 100%;

        .title_salute,
        .title_name {
            text-align: inherit;
            padding: 0;
            margin: 0;
        }
        .title_salute {
            font-size: var(--FS_XL);
            color: var(--FC);
        }
        .title_name {
            font-size: var(--FS_XL);

            color: var(--SC);
        }
        .title_effect {
            animation: blink 500ms 0s infinite alternate;
            color: var(--FC);
        }
        .swipe_animation_container_half {
            padding: 0 var(--XL);
        }
        .about_text {
            font-size: var(--fontSizeMClamp);
            margin-top: var(--XL);
        }
    }
}
.badge {
    @include flex(column, flex-start, center);
    gap: var(--MD);
    color: var(--TC_C);
    padding: var(--LG);
    .badge_name {
        color: var(--TC);
        font-size: var(--FS_N);
        line-height: 1;
        text-align: center;
        width: 100%;
        @include flexCenter();
    }
}
.skill_badge {
    max-width: 200px;
}
.certification_badge {
    max-width: 350px;
    height: 350px;
    justify-content: space-between;
    background: var(--bgC_T);
    border-radius: var(--MD);
    .badge_name {
        margin-top: var(--MD);
    }
    .badge_image {
        height: auto;
    }
}
.skills_section {
    --skillIconD: 6rem;
    .icon_container {
        height: var(--skillIconD);
        width: var(--skillIconD);
    }
}
.services_container {
    position: relative;
}
.contact_section {
    .bg_section {
        background: var(--bgHeaderSectionContact);
    }
    .form {
        max-width: 800px;
        width: 100%;
        H3 {
            font-size: var(--FS_L);
            text-align: center;
        }
    }
    .whatsapp_btn {
        padding: 0 var(--XL);
        width: fit-content;
        gap: var(--SM);
        background: var(--NVC);
        border-radius: 3rem;
        margin-top: var(--XL);
        color: var(--TC);

        &:hover {
            color: var(--whiteOff);
            background: var(--btnGradient);
            .wa_icon_svg {
                .cls-1 {
                    fill: var(--whiteOff);
                }
            }
        }
    }
}
.legals_section {
    background: var(--NVC);
    .footer_content,
    .lebels_container {
        @include flex(row, space-between, flex-end);
    }
    .social_btns_container {
        width: fit-content;
        justify-content: flex-end;
    }
    .icon_container {
        width: 3rem;
        height: 3rem;
        padding: var(--SM);
    }
    .link_text {
        font-size: var(--FS_XS);
        color: var(--TC);
    }
    .link_text {
        line-height: 1.5;
    }
    .copy_rights {
        font-weight: 400;
        color: var(--FC);
    }
    .made_content {
        margin-left: 3rem;
        .btns_container :not(:first-child) {
            margin-left: var(--XL);
        }
        .label_btn {
            font-size: var(--FS_S);
        }
    }
    .btns_container {
        justify-content: flex-start;
    }
}
.clients_list {
    @include flexCenter();
    flex-wrap: wrap;
    gap: var(--XL);
    .icon_container {
        --logoSize: 10rem;
        height: var(--logoSize);
        width: auto;
        max-width: calc(var(--logoSize) * 2);
        SVG {
            height: 100%;
            width: auto;
        }
        IMG {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.nav_menu {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--NVH);
    background: var(--NVC_T);
    z-index: 5;
    transition: height 500ms ease;
    @include flexCenter();
    .content {
        padding: 0;
    }
    .menu_container {
        @include flex(row, space-between, center);
        height: 100%;
    }

    .icon_container:not(.logo_btn) {
        width: 3.5rem;
        fill: var(--TC);
    }
    .btn_active {
        .icon_btn {
            fill: var(--TC_C);
        }
    }
}
.nav_menu_controler {
    @include flexCenter();
    .btn_container,
    .nav_menu_link_btns,
    .nav_menu_icon_svg {
        width: auto;
        height: 100%;
    }

    height: 100%;

    .nav_menu_link_btns {
        @include flexCenter();
    }

    .nav_btn {
        padding: 0 var(--LG);
    }

    .theme_btn {
        fill: var(--FC);
        &:hover {
            fill: var(--TC_C);
        }
    }
    .label_btn:not(.label_lang) {
        display: none;
    }
    display: none;
}
.phone_menu_controler {
    --menuPosition: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-radius: var(--MD) var(--MD) 0 0;
    @include flexCenter();
    flex-direction: column;

    height: auto;
    width: 100%;
    background: var(--NVC);
    transition: var(--T_F);
    transform: var(--menuPosition);
    z-index: 6;
    overflow: hidden;

    opacity: 0;
    display: none;
    .extra_btns_container,
    .social_btns_container {
        width: 100%;
    }
    .nav_menu_link_btns {
        width: 100%;
        @include flex(column, flex-start, center);
        padding: 0;
        .phone_menu_btn {
            height: var(--iconD);
        }
    }

    .extra_btns_container {
        @include flex(row, space-between, center);
        .btns_container {
            padding-top: 0;
        }
        .label_btn {
            @include flexCenter();
            height: var(--iconD);
            min-width: var(--iconD);
        }
    }
    .social_btns_container {
        @include flex(row, space-evenly, center);
        height: 5rem;
        .phone_menu_btn {
            height: 100%;
            padding: 0.75rem;
        }
    }
}
.menu_social_container {
    @include flexCenter();
    flex-direction: column;
    position: fixed;
    bottom: 4rem;
    left: var(--XL);
    min-height: var(--iconD);
    z-index: 4;
    fill: var(--FC);
    .menu_social_btns_container {
        height: auto;
        transition: var(--T_F);
        margin: var(--LG) 0;
        background: var(--NVC_T);
        border-radius: var(--LG);
    }
    .menu_btn_social_menu {
        background: var(--NVC_T);
    }

    .social_menu_btn {
        border-radius: var(--LG);

        &:hover .icon_container {
            background: var(--FC);
            .cls-2,
            .cls-1 {
                fill: var(--TC_C);
            }
        }
    }
}
.menu_social_btns_container {
    @include flexCenter();
    flex-direction: column;

    display: none;
    opacity: 0;
}
.animation_up {
    position: relative;
}

.animation_up:nth-of-type(2),
.card_up:nth-of-type(2):not(.project_card) {
    transition-delay: 100ms;
}
.animation_up:nth-of-type(3),
.card_up:nth-of-type(3):not(.project_card) {
    transition-delay: 200ms;
}
.animation_up:nth-of-type(4),
.card_up:nth-of-type(4):not(.project_card) {
    transition-delay: 300ms;
}
.animation_up:nth-of-type(5),
.card_up:nth-of-type(5):not(.project_card) {
    transition-delay: 400ms;
}
.animation_up:nth-of-type(6),
.card_up:nth-of-type(6):not(.project_card) {
    transition-delay: 500ms;
}
.animation_up:nth-of-type(7),
.card_up:nth-of-type(7):not(.project_card) {
    transition-delay: 600ms;
}
.animation_up:nth-of-type(8),
.card_up:nth-of-type(8):not(.project_card) {
    transition-delay: 700ms;
}
.animation_up:nth-of-type(9),
.card_up:nth-of-type(9):not(.project_card) {
    transition-delay: 800ms;
}
.animation_up,
.card_up {
    opacity: 0;
    transform: translateY(4rem);
    transition: var(--T_F);
}
.show_flex {
    display: flex;
}
.show_opacity {
    opacity: 1;
}
.show_krazy {
    transform: translateX(0);
}
.show_card {
    transform: translateY(0);
    opacity: 1;
}
.show_menu {
    transform: translateY(0);
}
.modal_open {
    transform: translate(-50%, 0);
    opacity: 1;
}
.open_modal {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.btn_active {
    background: var(--FC);
    color: var(--TC_C);
    .label_btn {
        color: var(--TC_C);
    }
    .label_btn,
    .icon_btn {
        animation: bounce 2s ease-in-out infinite;
    }

    .cls-1 {
        fill: var(--TC_C);
    }
}
.logo_big {
    height: 4rem;
}
.logo_small {
    height: 3rem;
}
.nav_big {
    height: var(--NVH);
}
.nav_small {
    height: var(--NVH_F);
}
.good {
    background: var(--bgGood);
    color: var(--whiteOff);
    border-color: var(--good);
}
.danger {
    background: var(--bgDanger);
    color: var(--blackOff);
    border-color: var(--danger);
}
@media screen and (min-width: 767px) {
    .flex_responsive {
        @include flexCenter();
    }
    .flex_img {
        flex-basis: 30%;
    }

    .flex_info {
        flex-basis: 70%;
    }
    .cards_service_container {
        .service_card {
            grid-column: span 4;
        }
        .service_card:nth-child(2),
        .service_card:nth-child(3),
        .service_card:nth-child(6) {
            grid-column: span 2;
        }
    }
}
@media screen and (min-width: 917px) {
    .flex_responsive {
        flex-direction: row;
    }
    .menu_btn {
        display: none;
    }
    .phone_menu_controler {
        display: none;
    }
    .nav_menu_controler {
        display: flex;
    }
    .nav_btn {
        .icon_btn {
            display: flex;
        }
    }
}
/* @media screen and (min-width: 1185px) {
    
} */
@media screen and (min-width: 1342px) {
    .nav_btn {
        .label_btn:not(.label_lang) {
            display: flex;
        }
        .icon_btn {
            display: none;
        }
    }
    .cards_service_container {
        .service_card:nth-child(2),
        .service_card:nth-child(3),
        .service_card:nth-child(6) {
            grid-column: span 3;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
